<div id="<%= dom_id booklet %>">
  <p>
    <strong>Manuscript:</strong>
    <%= booklet.manuscript_id %>
  </p>

  <p>
    <strong>Booklet no:</strong>
    <%= booklet.booklet_no %>
  </p>

  <p>
    <strong>Pages folios:</strong>
    <%= booklet.pages_folios %>
  </p>

  <p>
    <strong>Date from:</strong>
    <%= booklet.date_from %>
  </p>

  <p>
    <strong>Date to:</strong>
    <%= booklet.date_to %>
  </p>

  <p>
    <strong>Specific date:</strong>
    <%= booklet.specific_date %>
  </p>

  <p>
    <strong>Genesis location:</strong>
    <%= booklet.genesis_location_id %>
  </p>

  <p>
    <strong>Genesis institution:</strong>
    <%= booklet.genesis_institution_id %>
  </p>

  <p>
    <strong>Genesis religious order:</strong>
    <%= booklet.genesis_religious_order_id %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= booklet.content_type %>
  </p>

</div>
