<h1>Booklet <%= booklet.id %></h1>
<div class="ms-3">
	<p><strong>Booklet Id: </strong> <%= booklet.booklet_id %></p>
	<p><strong>Booklet Type: </strong> <%= booklet.booklet_type %></p>
	<p><strong>Booklet num: </strong> <%= booklet.booklet_num %></p>
	<p><strong>Date from: </strong> <%= booklet.date_from %></p>
	<p><strong>Date to: </strong> <%= booklet.date_to %></p>
	<p><strong>Specific date: </strong> <%= booklet.specific_date %></p>
	<p><strong>Scribe signature: </strong> <%= booklet.scribe_signature %></p>
	<p><strong>Scribe name: </strong> <%= booklet.scribe_name %></p>
	<p><strong>Scribe notes: </strong> <%= booklet.scribe_notes %></p>
</div>