<div id="booklet-form" class="d-none">
<%= form_with(model: booklet, class: "autosave save-before-modals") do |form| %>
	
<div class="row">
	<div class="form-group col-md-2 mb-2" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Based on order in manuscript">
		<%= form.label :booklet_no, style: "display: block" %>
		<%= form.text_field :booklet_no, disabled: true, class: "form-control" %>
	</div>
	<div class="form-group col-md-4 mb-2" id="location">
		<!-- this needs to include to, from, and folios type -->
		<%= form.label "Location in ms.", style: "display: block" %>
		<div class="d-flex align-items-baseline">
			<div class="input-group">
				<span class="input-group-text bg-white">ff.</span>
				<%= form.text_field :pages_folios_from, class: "form-control border-start-0" %>
			</div>
		</div>
	</div>

	<div class="form-group col-md-6 mb-2">
		<%= form.label :content_type, "Type of content", style: "display: block" %>	
		<%= form.select :content_type, options_for_select(@content_types, booklet.content_type), {include_blank: true}, {class: "form-control", placeholder: "Select or add…"} %>
	</div>
</div>

<h2>Origin</h2>
<div class="row">
	<div class="form-group col-md-6 mb-2">
		<%= form.label :date_to, "Date range", style: "display: block;" %>
		<div class="d-flex align-items-baseline">
			<select name="booklet[date_from]" id="booklet_date_from" class="form-control" placeholder="From" v-model="date_from">
				<option></option>
				<option v-for="n in <%= Date.today.year %>" v-if="
					(n-1)%25==0 || ((n%100)-1)%33==0 || n==<%= Date.today.year %>
				" :value="n + ''">{{n}}</option>
			</select>
			<i class="far fa-minus m-2"></i>
			<select name="booklet[date_to]" id="booklet_date_to" class="form-control" placeholder="To" v-model="date_to">
				<option></option>
				<option v-for="n in <%= Date.today.year %>" v-if="
					(
						((date_from == '' || (parseInt(date_from)-1)%25 == 0) && n%25==0)
					 || ((date_from == '' || ((parseInt(date_from)%100)-1)%33 == 0) && (n%100 != 99) && n%100%33==0)
					 || n==<%= Date.today.year %>
					) && n>date_from
				">{{n}}</option>
			</select>
		</div>
	</div>
	<div class="form-group col-md-6 mb-2">
		<%= form.hidden_field :date_exact, "v-model": "date_exact" %>
		<label>
			Date (<span @click="date_exact = true" class="pointer">exact
				<i class="far" style="color: var(--orange)" :class="date_exact ? 'fa-dot-circle' : 'fa-circle'"></i>
			</span>
			or<span @click="date_exact = false" class="pointer">
				approximate
				<i class="far" style="color: var(--orange)" :class="date_exact ? 'fa-circle' : 'fa-dot-circle'"></i>
			</span>
			)
		</label>
		<div class="input-group">
			<span class="input-group-text bg-white" v-if="!date_exact">ca.</span>
			<%= form.number_field :specific_date, max: Date.today.year, class: "form-control", ":class": "{ 'border-start-0' : !date_exact }" %>
		</div>
	</div>
</div>
<div class="row" id="genesis">
	<%= fields_for(@scribe_reference) do |sr| %>
		<div class="form-group col-md-6 mb-2" id="scribe">
			<%= sr.label :id, "Scribe(s)", style: "display: block" %>
			<div class="d-flex">
				<select class="form-control" multiple="multiple" name="person_reference[id][]" id="person_reference_id" placeholder="Select scribe">
					<% sort_hash_keys(@grouped_people, ['scribe', 'multiple_roles', 'no_role_assigned']).each do |group, people| %>
						<optgroup label="<%= group.to_s.humanize %>">
							<% people.each do |person| %>
								<option value="<%= person.id %>" <%= 'selected' if booklet.scribes.map(&:id).include?(person.id) %>><%= person.full_name %></option>
							<% end %>
						</optgroup>
					<% end %>
				</select>
				<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#person-modal-scribe">New</button>
			</div>
		</div>
	<% end %>
	<div class="form-group col-md-6 mb-2">
		<%= form.label :genesis_institution_id, "Institution", style: "display: block" %>
		<div class="d-flex">
			<%= form.collection_select :genesis_institution_id, Institution.all, :id, :long_display_name, {selected: booklet.genesis_institution_id, include_blank: true}, {class: "form-control", placeholder: "Select institution"} %>
			<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#modal-0-new-institution-modal">New</button>
		</div>
	</div>
	<div class="form-group col-md-6 mb-2" id="religious-order">
		<%= form.label :genesis_religious_order_id, "Religious order", style: "display: block" %>
		<div class="d-flex">
			<%= form.collection_select :genesis_religious_order_id, ReligiousOrder.all, :id, :display_name, {selected: booklet.genesis_religious_order_id, include_blank: true}, {class: "form-control", placeholder: "Select religious order"} %>
			<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#new-religious-order-modal">New</button>
		</div>
	</div>
	<div class="form-group col-md-6 mb-2">
		<%= form.label :genesis_location_id, "Location", style: "display: block" %>
		<div class="d-flex">
			<%= form.collection_select :genesis_location_id, Location.all, :id, :city_region_country, {selected: booklet.genesis_location_id, include_blank: true}, {class: "form-control", placeholder: "Select location"} %>
			<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#modal-location-modal">New</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col form-group">
		<%= form.label :origin_notes, "Notes on origin", style: "display: block" %>
		<%= form.text_area :origin_notes, class: "form-control" %>
	</div>
</div>

<div class="fixed-bottom text-end pb-3 pe-3" style="z-index: 100">
	<%= form.submit "Save now", class: "btn btn-action px-5"%>
</div>
<% end %>

<h2 id="provenances">Booklet provenance <%= link_to "Add provenance", '#provenances', class: "btn btn-action", data: { 'bs-toggle': "modal", 'bs-target': "#addProvenanceModal"} %></h2>
<%= render 'ownerships/list', parent: booklet %>

<h2 id="contents">Booklet contents <%= link_to "Add contents", '#contents', class: "btn btn-action", data: { 'bs-toggle': "modal",  'bs-target': "#addContentModal"} %></h2>
<%= render 'contents/list', parent: booklet %>

</div>

<!-- Additional forms -->
<%= form_with(url: sort_contents_path, method: 'PUT', remote: true, id: 'sort-content-form') do |f| %><% end %>

<!-- Modals -->
<% booklet.ownerships.each do |ownership| %>
<%= render 'ownerships/modals/form', parent: booklet, ownership: ownership %>
<% end %>
<%= render 'ownerships/modals/form', parent: booklet, ownership: booklet.ownerships.new %>
<% booklet.contents.each do |content| %>
<%= render 'contents/modals/form', parent: booklet, content: content %>
<% end %>
<%= render 'contents/modals/form', parent: booklet, content: booklet.contents.new %>
<%= render 'institutions/modals/new', institution: Institution.new, parent: booklet, pid: '', depth: 0 %>
<%= render 'religious_orders/modals/new', religious_order: ReligiousOrder.new, parent: booklet, pid: '', depth: 0 %>
<%= render 'locations/modals/form', location: Location.new, parent: booklet, pid: '', depth: 0 %>
<%= render 'people/modals/form', person: Person.new, parent: booklet, reference_type: 'scribe', pid: '', depth: 0 %>

<% if booklet.genesis_institution.present? %>
<%= render 'institutions/modals/new', institution: booklet.genesis_institution, parent: booklet, pid: "#{booklet.genesis_institution_id}-", depth: 0 %>
<% end %>

<!-- Scripts -->
<%= render '/booklets/scripts', booklet: booklet %>
<%= render '/contents/list_script' %>
<%= render '/ownerships/list_script' %>
