<div id="booklet-form">
<%= form_with(model: booklet, class: "autosave") do |form| %>
	
<div class="row">
	<div class="form-group col-md-2 mb-2" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Based on order in manuscript">
		<%= form.label :booklet_no, style: "display: block" %>
		<%= form.text_field :booklet_no, disabled: true, class: "form-control" %>
	</div>
	<div class="form-group col-md-4 mb-2">
		<!-- this needs to include to, from, and folios type -->
		<%= form.label "Location of #{booklet.manuscript.is_folios ? "folios" : "pages"} of the booklet", style: "display: block" %>
		<div class="d-flex align-items-baseline">
			<div class="input-group">
				<span class="input-group-text bg-white"><%= booklet.manuscript.is_folios ? 'f' : 'p' %>.</span>
				<%= form.text_field :pages_folios_from, class: "form-control border-start-0" %>
			</div>
			<span class="mx-2">to</span>
			<div class="input-group">
				<span class="input-group-text bg-white"><%= booklet.manuscript.is_folios ? 'f' : 'p' %>.</span>
				<%= form.text_field :pages_folios_to, class: "form-control border-start-0" %>
			</div>
		</div>
	</div>
	<div class="form-group col-md-2 mb-2">
		<%= form.label :date_from, style: "display: block" %>
		<%= form.text_field :date_from, class: "form-control" %>
	</div>
	<div class="form-group col-md-2 mb-2">
		<%= form.label :date_to, style: "display: block" %>
		<%= form.text_field :date_to, class: "form-control" %>
	</div>
	<div class="form-group col-md-2 mb-2">
		<%= form.label :specific_date, style: "display: block" %>
		<%= form.text_field :specific_date, class: "form-control" %>
	</div>
	<div class="form-group col-md-6 mb-2">
		<%= form.label :content_type, style: "display: block" %>
		<%= form.text_field :content_type, class: "form-control" %>
	</div>
</div>

<h2>Booklet origin</h2>
<div class="row">
	<%= fields_for(@scribe_reference) do |sr| %>
		<div class="form-group col-md-12 mb-2">
			<%= sr.label :id, "Scribes", style: "display: block" %>
			<div class="d-flex">
				<%= sr.collection_select :id, Person.all, :id, :full_name, {selected: booklet.scribes.map(&:id)}, {class: "form-control", multiple: true, placeholder: "Search scribe"} %>
				<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#ownership-person-modal">New</button>
			</div>
		</div>
	<% end %>
	<div class="form-group col-md-12 mb-2">
		<%= form.label :genesis_religious_order_id, "Religious Order", style: "display: block" %>
		<div class="d-flex">
			<%= form.collection_select :genesis_religious_order_id, ReligiousOrder.all, :id, :display_name, {selected: booklet.genesis_religious_order_id, include_blank: true}, {class: "form-control", placeholder: "Search religious order"} %>
			<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#new-religious-order-modal">New</button>
		</div>
	</div>
	<div class="form-group col-md-12 mb-2">
		<%= form.label :genesis_institution_id, "Institution", style: "display: block" %>
		<div class="d-flex">
			<%= form.collection_select :genesis_institution_id, Institution.all, :id, :display_name, {selected: booklet.genesis_institution_id, include_blank: true}, {class: "form-control", multiple: true, placeholder: "Search institution"} %>
			<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#new-institution-modal">New</button>
		</div>
	</div>
	<div class="form-group col-md-12 mb-2">
		<%= form.label :genesis_location_id, "Location", style: "display: block" %>
		<div class="d-flex">
			<%= form.collection_select :genesis_location_id, Location.all, :id, :city_region_country, {selected: booklet.genesis_location_id, include_blank: true}, {class: "form-control", placeholder: "Search location"} %>
			<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#location-modal">New</button>
		</div>
	</div>
</div>

<div class="fixed-bottom text-end pb-3 pe-3" style="z-index: 100">
	<%= form.submit "Save now", class: "btn btn-action px-5"%>
</div>
<% end %>

<h2 id="provenances">Booklet provenances <%= link_to "Add provenance", '#provenances', class: "btn btn-action", data: { 'bs-toggle': "modal", 'bs-target': "#addProvenanceModal"} %></h2>
<%= render 'ownerships/list', parent: booklet %>

<h2 id="contents">Booklet content<%= link_to "Add content", '#contents', class: "btn btn-action", data: { 'bs-toggle': "modal",  'bs-target': "#addContentModal"} %></h2>
<%= render 'contents/list', parent: booklet %>

</div>

<!-- Additional forms -->
<%= form_with(url: sort_contents_path, method: 'PUT', remote: true, id: 'sort-content-form') do |f| %><% end %>

<!-- Modals -->
<% booklet.ownerships.each do |ownership| %>
<%= render 'ownerships/modals/form', parent: booklet, ownership: ownership %>
<% end %>
<%= render 'ownerships/modals/form', parent: booklet, ownership: booklet.ownerships.new %>
<% booklet.contents.each do |content| %>
<%= render 'contents/modals/form', parent: booklet, content: content %>
<% end %>
<%= render 'contents/modals/form', parent: booklet, content: booklet.contents.new %>
<%= render 'institutions/modals/new', institution: Institution.new, parent: booklet, pid: '', depth: 0 %>
<%= render 'religious_orders/modals/new', religious_order: ReligiousOrder.new, parent: booklet, pid: '', depth: 0 %>
<%= render 'locations/modals/form', location: Location.new, parent: booklet, pid: '', depth: 0 %>
<%= render 'people/modals/form', person: Person.new, parent: booklet, pid: '', depth: 0 %>

<!-- Scripts -->
<script type="text/javascript">
	<%= render '/booklets/scripts', booklet: booklet %>
	<%= render '/contents/list_script' %>
	<%= render '/ownerships/list_script' %>
</script>
