<p style="color: green"><%= notice %></p>

<%= render @apocrypha %>

<div>
  <%= link_to "Edit this apocrypha", edit_apocrypha_path(@apocrypha) %> |
  <%= link_to "Back to apocryphas", apocryphas_path %>

  <%= button_to "Destroy this apocrypha", @apocrypha, method: :delete %>
</div>
