<div id="<%= dom_id institution %>">
  <p>
    <strong>Name english:</strong>
    <%= institution.name_english %>
  </p>

  <p>
    <strong>Name orig:</strong>
    <%= institution.name_orig %>
  </p>

  <p>
    <strong>Name orig transliteration:</strong>
    <%= institution.name_orig_transliteration %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= institution.location_id %>
  </p>

</div>
