<div id="<%= dom_id institutional_affiliation %>">
  <p>
    <strong>Institution:</strong>
    <%= institutional_affiliation.institution_id %>
  </p>

  <p>
    <strong>Religious order:</strong>
    <%= institutional_affiliation.religious_order_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= institutional_affiliation.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= institutional_affiliation.end_date %>
  </p>

</div>
