<p style="color: green"><%= notice %></p>

<%= render @institutional_affiliation %>

<div>
  <%= link_to "Edit this institutional affiliation", edit_institutional_affiliation_path(@institutional_affiliation) %> |
  <%= link_to "Back to institutional affiliations", institutional_affiliations_path %>

  <%= button_to "Destroy this institutional affiliation", @institutional_affiliation, method: :delete %>
</div>
