<div id="<%= dom_id content %>">
  <p>
    <strong>Booklet:</strong>
    <%= content.booklet_id %>
  </p>

  <p>
    <strong>Sequence no:</strong>
    <%= content.sequence_no %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= content.title_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= content.author_id %>
  </p>

</div>
