<div class="row">
  <div class="filterable">
    <div class="panel-heading text-end">
      <button class="btn btn-outline-secondary btn-sm btn-filter"><i class="far fa-filter"></i> Filter</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="filters">
          <% unless hide_columns.include? 'id' %><th class="col"><input type="text" class="form-control" placeholder="Id" disabled></th><% end %>
                      <% unless hide_columns.include? 'booklet_id' %><th class="col"><input type="text" class="form-control" placeholder="Booklet" disabled></th><% end %>
                      <% unless hide_columns.include? 'sequence_no' %><th class="col"><input type="text" class="form-control" placeholder="Sequence no" disabled></th><% end %>
                      <% unless hide_columns.include? 'title_id' %><th class="col"><input type="text" class="form-control" placeholder="Title" disabled></th><% end %>
                      <% unless hide_columns.include? 'author_id' %><th class="col"><input type="text" class="form-control" placeholder="Author" disabled></th><% end %>
                    <% unless hide_buttons.count == 2 %><th class="col-3">Actions</th><% end %>
        </tr>
      </thead>
      <tbody>
        <% contents.each do |content| %>
      	<tr>
          <% unless hide_columns.include? 'id' %><td class="col"><%= content.id %></td><% end -%>
                      <% unless hide_columns.include? 'booklet_id' %><td class="col"><%= content.booklet_id %></td><% end %>
                      <% unless hide_columns.include? 'sequence_no' %><td class="col"><%= content.sequence_no %></td><% end %>
                      <% unless hide_columns.include? 'title_id' %><td class="col"><%= content.title_id %></td><% end %>
                      <% unless hide_columns.include? 'author_id' %><td class="col"><%= content.author_id %></td><% end %>
                  	<td class="col-3">
        		<% unless hide_buttons.include? 'open' %><%= link_to "Open", content, class: "btn btn-outline-primary me-2" %><% end %>
        		<% unless hide_buttons.include? 'edit' %><%= link_to "Edit", edit_content_path(content), class: "btn btn-outline-primary me-2" %><% end %>
        	</td>
        </tr>
        <% end %>
      </tbody>
      <caption>No.of Rows : <span id="rowcount"></span></caption>
    </table>
  </div>
</div>
