<div class="modal fade" id="addProvenanceModal<%= ownership.try(:id) %>" tabindex="-1" aria-hidden="true">
	<%= form_with(model: ownership, class: "autosave") do |form| %>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><%= ownership.id.present? ? 'Edit' : 'Add' %> Provenance</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-6 mb-2">
						<%= form.label :date_from, style: "display: block" %>
						<%= form.text_field :date_from, class: "form-control" %>
					</div>
					<div class="form-group col-6 mb-2">
						<%= form.label :date_to, style: "display: block" %>
						<%= form.text_field :date_to, class: "form-control" %>
					</div>
					<div class="form-group col-6 mb-2">
						<%= form.label :date_for_owner, style: "display: block" %>
						<%= form.text_field :date_for_owner, class: "form-control" %>
					</div>
					<div class="form-group col-6 mb-2">
						<%= form.check_box :owner_date_is_approximate, class: "form-check-input" %>
						<%= form.label :owner_date_is_approximate %>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :person_id, "Person", style: "display: block" %>
						<%= form.collection_select :person_id, Person.all, :id, :full_name, {selected: ownership.person_id, include_blank: true}, {class: "form-control", placeholder: "Select a person"} %>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :institution_id, "Institution", style: "display: block" %>
						<%= form.collection_select :institution_id, Institution.all, :id, :name_english, {selected: ownership.institution_id, include_blank: true}, {class: "form-control", placeholder: "Select an institution"} %>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :religious_order_id, "Religious Order", style: "display: block" %>
						<%= form.collection_select :religious_order_id, ReligiousOrder.all, :id, :order_name, {selected: ownership.religious_order_id, include_blank: true}, {class: "form-control", placeholder: "Select a religious order"} %>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :location_id, "Location", style: "display: block" %>
						<%= form.collection_select :location_id, Location.all, :id, :city_region_country, {selected: ownership.location_id, include_blank: true}, {class: "form-control", placeholder: "Select a location"} %>
					</div>
					
					<div class="form-group col-12 mb-2">
						<%= form.label :provenance_notes, style: "display: block" %>
						<%= form.text_area :provenance_notes, class: "form-control" %>
					</div>
					<%= form.hidden_field :booklet_id %>
				</div>

			</div>
			<div class="modal-footer">
				<%= form.submit "Save & Close", class: "btn btn-action", onclick: "timeoutReload()" %>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_person_id",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});

	new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_religious_order_id",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});

	new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_institution_id",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});

	new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_location_id",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});
</script>