<div class="modal" id="location-modal" tabindex="-1" aria-hidden="true">
	<%= form_with(model: location, id:"location-form") do |form| %>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Location</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6 offset-3">
						<label class="fw-bolder">City, town, village, settlement</label>
						<%= form.text_field :city_orig, class: "form-control mb-2", placeholder: "Standard name used in English, eg., Warsaw" %>
					</div>
					<div class="col-md-3">
						<%= form.label 'alt', "&nbsp;".html_safe, style: "display: block" %>
						<button type="button" class="btn btn-outline-action" @click="alternative_location = true">Add alternative</button>
					</div>
					<div class="col-md-3" v-show="alternative_location">
						<label>Writing system</label>
						<%= form.collection_select :city_orig_writing_system_id, WritingSystem.all, :id, :name, {}, {class: "form-control mb-2", "v-model": "city_writing_system_id"} %>
					</div>
					<div class="col-md-6" v-show="alternative_location">
						<label>City, town, village, settlement: alternative or local name</label>
						<%= form.text_field :city_english, class: "form-control mb-2", placeholder: "Alternative location name, e.g., Москва" %>
					</div>
					<div class="col-md-6 offset-3" v-show="alternative_location && city_writing_system_id != '<%= latin_writing_system_id %>'">
						<%= form.text_field :city_translilteration, class: "form-control mb-2", placeholder: "Transliteration, e.g., Moskva" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 offset-3">
						<label class="fw-bolder">Diocese</label>
						<%= form.text_field :diocese_orig, class: "form-control mb-2", placeholder: "Standard name used in English, e.g., Warsaw" %>
					</div>
					<div class="col-md-3">
						<%= form.label 'alt', "&nbsp;".html_safe, style: "display: block" %>
						<button type="button" class="btn btn-outline-action" @click="alternative_diocese = true">Add alternative</button>
					</div>
					<div class="col-md-3" v-show="alternative_diocese">
						<label>Writing system</label>
						<%= form.collection_select :diocese_orig_writing_system_id, WritingSystem.all, :id, :name, {}, {class: "form-control mb-2", "v-model": "diocese_writing_system_id"} %>
					</div>
					<div class="col-md-6" v-show="alternative_diocese">
						<label>Diocese: alternative or local name</label>
						<%= form.text_field :diocese_english, class: "form-control mb-2", placeholder: "Alternative or local name, e.g., Москва" %>
					</div>
					<div class="col-md-6 offset-3" v-show="alternative_diocese && diocese_writing_system_id != '<%= latin_writing_system_id %>'">
						<%= form.text_field :diocese_transliteration, class: "form-control mb-2", placeholder: "Transliteration, e.g., Moskva" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 offset-3">
						<label class="fw-bolder">Region</label>
						<%= form.text_field :region_orig, class: "form-control mb-2", placeholder: "Standard name used in English, e.g., Warsaw" %>
					</div>
					<div class="col-md-3">
						<%= form.label 'alt', "&nbsp;".html_safe, style: "display: block" %>
						<button type="button" class="btn btn-outline-action" @click="alternative_region = true">Add alternative</button>
					</div>
					<div class="col-md-3" v-show="alternative_region">
						<label>Writing system</label>
						<%= form.collection_select :region_orig_writing_system_id, WritingSystem.all, :id, :name, {}, {class: "form-control mb-2", "v-model": "region_writing_system_id"} %>
					</div>
					<div class="col-md-6" v-show="alternative_region">
						<label>Region: alternative or local name</label>
						<%= form.text_field :region_english, class: "form-control mb-2", placeholder: "Alternative or local name, e.g., Москва" %>
					</div>
					<div class="col-md-6 offset-3" v-show="alternative_region && region_writing_system_id != '<%= latin_writing_system_id %>'">
						<%= form.text_field :region_transliteration, class: "form-control mb-2", placeholder: "Transliteration, e.g., Moskva" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-4">
						<%= form.label "Country", class: "fw-bolder" %>
						<%= form.select :country, options_for_select(Location.all.map{ |l| l.country }.uniq, location.country), class: "form-control",  data: { placeholder: "Standard name used in English"} %>
					</div>
				</div>
				<%= form.label "Coordinates of location", class: "fw-bolder" %>
				<div class="row">
					<div class="col-md-6">
						<%= form.label :longitude %>
						<%= form.text_field :longitude, placeholder: "Degrees north/south", class: "form-control" %>
					</div>
					<div class="col-md-6">
						<%= form.label :latitude %>
						<%= form.text_field :latitude, placeholder: "Degrees east/west", class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-action" onclick="saveModal()">Save & Close</button>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	var location_modal_vue;
	$( document ).ready(function() {
		location_modal_vue = new Vue({
			el: "#location-modal",
			name: "LocationModal",
			data: function() {
				return {
					alternative_location: <%= location.city_english.present? || location.city_translilteration.present? ? "true" : "false" %>,
					city_writing_system_id: '<%= location.city_orig_writing_system_id %>',
					alternative_diocese: <%= location.diocese_english.present? || location.diocese_transliteration.present? ? "true" : "false" %>,
					diocese_writing_system_id: '<%= location.diocese_orig_writing_system_id %>',
					alternative_region: <%= location.region_english.present? || location.region_transliteration.present? ? "true" : "false" %>,
					region_writing_system_id: '<%= location.region_orig_writing_system_id %>',
				}
			},
			mounted(){
				new TomSelect("#location-modal #location_city_orig_writing_system_id",ts_sort_text_asc_max_1);
				new TomSelect("#location-modal #location_diocese_orig_writing_system_id",ts_sort_text_asc_max_1);
				new TomSelect("#location-modal #location_region_orig_writing_system_id",ts_sort_text_asc_max_1);
				new TomSelect("#location-modal #location_country",ts_sort_text_asc_max_1_create);
				createModalListeners("#location-modal");
			},
		});
	});
	var cached_action;
	function openLocationModal(action){
		cached_action = action;
		$.ajax({
      url: action,
      type: 'GET',
      data: JSON.stringify({authenticity_token: "<%= form_authenticity_token %>"}),
      contentType: 'application/json',
      success: function(data) {
      	$('#location-modal #location-form').attr('action', action);
      	let key = Object.keys(data)[0];
      	let obj = data[key];
      	console.log('obj', obj)
      	for(i in obj){
      		$('#location-modal #location_'+i).each(function(){
      			if($(this).is('select')){
      				this.tomselect.clear();
      				this.tomselect.addItem(obj[i]);
      			}else{
      				$(this).val(obj[i]);
      			}
      		})
      	}
      }
    });
    
    //$('#location-modal #location_city_orig').val();
    $('#location-modal').modal('show');
	};

	function saveModal(){
		var my_data = {location: {}}
		seria = $('#location-modal #location-form').serializeArray();
		for(i in seria){
			if(i > 1){
				my_data.location[seria[i].name.split('location[')[1].slice(0, -1)] = seria[i].value;
			}
		}
		my_data["authenticity_token"] = "<%= form_authenticity_token %>"
		console.log(my_data);
		$.ajax({
      url: cached_action,
      type: 'PATCH',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
      	console.log('updated')
      }
    });
		
	}
</script>
