<div id="people_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false},//cellRenderer: 'agGroupCellRenderer'
        { headerName: "First name", field: "first_name"},
        { headerName: "Middle name", field: "middle_name"},
        { headerName: "Last name", field: "last_name"},
        { headerName: "Name english", field: "name_english"},
        { headerName: "Name vernacular", field: "name_vernacular"},
        { headerName: "Name vernacular transliteration", field: "name_vernacular_transliteration"},
        { headerName: "Latin name", field: "latin_name"},
        { headerName: "Birth date", field: "birth_date"},
        { headerName: "Death date", field: "death_date"},
        { headerName: "Character", field: "character"},
        { headerName: "Viaf", field: "viaf"},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<a href='" + links.value.show + "' class='btn btn-outline-primary btn-sm me-1'>display</a><a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a>"
    } }
  ];

  const rowData = [
    <% people.each do |person| %>
      { id:<%= person.id %>,
        first_name: "<%= person.first_name %>",middle_name: "<%= person.middle_name %>",last_name: "<%= person.last_name %>",name_english: "<%= person.name_english %>",name_vernacular: "<%= person.name_vernacular %>",name_vernacular_transliteration: "<%= person.name_vernacular_transliteration %>",latin_name: "<%= person.latin_name %>",birth_date: "<%= person.birth_date %>",death_date: "<%= person.death_date %>",character: "<%= person.character %>",viaf: "<%= person.viaf %>",
        links: { show: "<%= person_path(person) %>", edit: "<%= edit_person_path(person) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.person = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/people/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#people_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
