<div class="form-group mb-2">
  <input type="text" id="filter-text-box" placeholder="Filter grid" oninput="onFilterTextBoxChanged()" name="filter">
</div>
<div id="people_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<% people.each do |person| %>
  <%= button_to "Delete", person_path(person), method: :delete, class: "d-none", id: 'delete_'+person.id.to_s %>
<% end %>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true};

  const columnDefs = [
        { headerName: "Standard form", children: [
          { headerName: "First name", field: "first_name_vernacular", flex: 2 },
          { headerName: "Middle name", field: "middle_name_vernacular", flex: 2 },
          { headerName: "Prefix", field: "prefix_vernacular" },
          { headerName: "Last name", field: "last_name_vernacular", flex: 2 },
          { headerName: "Suffix", hide: true, field: "suffix_vernacular" },
        ] },

        { headerName: "Alternative form", children: [
          { headerName: "First name", field: "first_name_english", hide: true, flex: 2 },
          { headerName: "First name translit.", field: "first_name_transliteration", hide: true, flex: 2},
          { headerName: "Middle name", field: "middle_name_english", hide: true, flex: 2},
          { headerName: "Middle name translit.", field: "middle_name_transliteration", hide: true, flex: 2},
          { headerName: "Prefix", field: "prefix_english", hide: true},
          { headerName: "Prefix translit.", field: "prefix_transliteration", hide: true },
          { headerName: "Last name", field: "last_name_english", hide: true, flex: 2},
          { headerName: "Last name translit.", field: "last_name_transliteration", hide: true, flex: 2},
          { headerName: "Suffix", field: "suffix_english", hide: true},
          { headerName: "Suffix translit.", field: "suffix_transliteration", hide: true},  
        ] },

        { headerName: "Dates", children: [
          { headerName: "Year of birth", field: "birth_date"},
          { headerName: "Year of death", field: "death_date"},
        ]},

        { headerName: "Viaf", field: "viaf", hide: false },
        { headerName: "Actions", field: "links", editable: false, cellRenderer: function(links) {
      return "<!-- <a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a> --><a href='#' onclick='if(confirm(\"Are you sure you want to delete this object? Note: the object will be unlinked from all parent records.\")){$("+'"#'+links.value.delete_btn+'"'+").click()}' class='btn btn-outline-danger btn-sm'>delete</a>"
    } }
  ];

  const rowData = [
    <% people.each do |person| %>
      { id:<%= person.id %>,
        prefix_english: `<%= person.prefix_english.html_safe %>`,
        first_name_english: `<%= person.first_name_english.html_safe %>`,
        middle_name_english: `<%= person.middle_name_english.html_safe %>`,
        last_name_english: `<%= person.last_name_english.html_safe %>`,
        suffix_vernacular: `<%= person.suffix_vernacular.html_safe %>`,
        prefix_vernacular: `<%= person.prefix_vernacular.html_safe %>`,
        first_name_vernacular: `<%= person.first_name_vernacular.html_safe %>`,
        middle_name_vernacular: `<%= person.middle_name_vernacular.html_safe %>`,
        last_name_vernacular: `<%= person.last_name_vernacular.html_safe %>`,
        suffix_vernacular: `<%= person.suffix_vernacular.html_safe %>`,
        prefix_transliteration: `<%= person.prefix_transliteration.html_safe %>`,
        first_name_transliteration: `<%= person.first_name_transliteration.html_safe %>`,
        middle_name_transliteration: `<%= person.middle_name_transliteration.html_safe %>`,
        last_name_transliteration: `<%= person.last_name_transliteration.html_safe %>`,
        suffix_transliteration: `<%= person.suffix_transliteration.html_safe %>`,
        birth_date: "<%= person.birth_date %>",
        death_date: "<%= person.death_date %>",
        character: "<%= person.character %>",
        viaf: "<%= person.viaf %>",
        links: { show: "<%= person_path(person) %>",
         edit: "<%= edit_person_path(person) %>",
         delete_btn: 'delete_<%= person.id %>' }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
    sideBar: 'columns',
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function onFilterTextBoxChanged() {
    gridOptions.api.setQuickFilter(
      document.getElementById('filter-text-box').value
    );
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.in_grid = "1";
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.person = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/people/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#people_grid');
  new agGrid.Grid(eGridDiv, gridOptions);
  var columnToolPanel = gridOptions.api.getToolPanelInstance('columns');
  columnToolPanel.collapseColumnGroups();
  autoSizeAll(gridOptions, false);
</script>
