<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= person.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Name english:</strong>
    <%= person.name_english %>
  </p>

  <p>
    <strong>Name vernacular:</strong>
    <%= person.name_vernacular %>
  </p>

  <p>
    <strong>Name vernacular transliteration:</strong>
    <%= person.name_vernacular_transliteration %>
  </p>

  <p>
    <strong>Latin name:</strong>
    <%= person.latin_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= person.birth_date %>
  </p>

  <p>
    <strong>Death date:</strong>
    <%= person.death_date %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= person.character %>
  </p>

  <p>
    <strong>Viaf:</strong>
    <%= person.viaf %>
  </p>

</div>
