<div id="<%= dom_id apocryphon %>">
  <p>
    <strong>Apocryphon no:</strong>
    <%= apocryphon.apocryphon_no %>
  </p>

  <p>
    <strong>Cant no:</strong>
    <%= apocryphon.cant_no %>
  </p>

  <p>
    <strong>Bhl no:</strong>
    <%= apocryphon.bhl_no %>
  </p>

  <p>
    <strong>Bhg no:</strong>
    <%= apocryphon.bhg_no %>
  </p>

  <p>
    <strong>Bho no:</strong>
    <%= apocryphon.bho_no %>
  </p>

  <p>
    <strong>E clavis no:</strong>
    <%= apocryphon.e_clavis_no %>
  </p>

  <p>
    <strong>E clavis link:</strong>
    <%= apocryphon.e_clavis_link %>
  </p>

</div>
