<div id="apocryphon-form">
	<%= form_with(model: apocryphon) do |form| %>
	<div class="row">
		<div class="form-group col-4 mb-2">
			<%= form.label :apocryphon_no, style: "display: block" %>
			<%= form.text_field :apocryphon_no, class: "form-control" %>
		</div>
		<div class="form-group col-4 mb-2">
			<%= form.label :abbreviation, style: "display: block" %>
			<%= form.text_field :abbreviation, class: "form-control" %>
		</div>

		<%= fields_for(@language_references) do |lr| %>
		<div class="form-group col-md-8 mb-2">
			<%= lr.label :id, "Languages", style: "display: block" %>
			<%= lr.collection_select :id, @languages, "id", "language_name", {selected: apocryphon.languages.map(&:id)}, {class: "form-control", multiple: true} %>
		</div>
		<% end %>
	</div>

	<h2 id="titles">Titles <%= link_to "Add title", '#titles', class: "btn btn-action", data: { 'bs-toggle': "modal",  'bs-target': "#title-modal"} %></h2>
	<div class="row">
		<% @titles.each do |t| %>
		<div class="col-md-3 grey-bubble">
			<span class="fw-bolder"><%= t.title_orig %></span>
			<p><%= t.language.language_name %></p>
		</div>
		<% end %>
	</div>


	<h2>Identifiers</h2>
	<div class="row">
		<div class="form-group col mb-2">
			<%= form.label "CANT number", style: "display: block" %>
			<%= form.text_field :cant_no, class: "form-control" %>
		</div>
		<div class="form-group col mb-2">
			<%= form.label "BHL number", style: "display: block" %>
			<%= form.text_field :bhl_no, class: "form-control" %>
		</div>
		<div class="form-group col mb-2">
			<%= form.label "BHG number", style: "display: block" %>
			<%= form.text_field :bhg_no, class: "form-control" %>
		</div>
		<div class="form-group col mb-2">
			<%= form.label "BHO number", style: "display: block" %>
			<%= form.text_field :bho_no, class: "form-control" %>
		</div>
		<div class="form-group col mb-2">
			<%= form.label "e-Clavis number", style: "display: block" %>
			<%= form.text_field :e_clavis_no, class: "form-control" %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-12 mb-2">
			<%= form.label "Link to e-Clavis", style: "display: block" %>
			<%= form.text_field :e_clavis_link, class: "form-control" %>
		</div>
	</div>
	<div class="fixed-bottom text-end pb-3 pe-3" style="z-index: 0">
		<%= form.submit "Save now", class: "btn btn-action px-5"%>
	</div>
	<% end %>
</div>

<%= render 'titles/modals/form', title: Title.new %>

<script type="text/javascript">
	new TomSelect("#language_reference_id",{ sortField: {field: "text", direction: "asc"}, maxItems: null });
</script>

