<div class="breadcrumbs">
  <%= link_to "Home", editor_menu_path %>
  <i class="far fa-chevron-right"></i>
  <%= link_to 'Apocrypha', apocrypha_path %>
  <i class="far fa-chevron-right"></i>
  <%= @apocryphon.display_name %>
</div>

<div>
  <h1 id="page-title" class="d-none">Title - Apocryphal</h1>
  <div class="form-group">
    <label class="form-check-label d-block" disabled>New title is</label>
    <div class="form-check  d-inline-block">
      <input class="form-check-input" type="radio" name="is_apocryphon" id="apocryphal" checked disabled>
      <label class="form-check-label" for="apocryphal" disabled>
        Apocryphal
      </label>
    </div>
    <div class="form-check d-inline-block ms-3">
      <input class="form-check-input" type="radio" name="is_apocryphon" id="non-apocryphal" onselect="" disabled>
      <label class="form-check-label" for="non-apocryphal" disabled>
        Non-apocryphal
      </label>
    </div>
  </div>
  <%= button_to "Make Non-apocryphal", apocryphon_make_non_apocryphal_path(@apocryphon.id), method: :put, class: "btn btn-action my-2" %>
  <%= render "form", apocryphon: @apocryphon %>
</div>
