<p style="color: green"><%= notice %></p>

<%= render @apocryphon %>

<div>
  <%= link_to "Edit this apocryphon", edit_apocryphon_path(@apocryphon) %> |
  <%= link_to "Back to apocrypha", apocrypha_path %>

  <%= button_to "Destroy this apocryphon", @apocryphon, method: :delete %>
</div>
