<div id="modern-source-references-list" class="w-100">
	<% modern_source_references.joins(modern_source: :authors).order("people.last_name_vernacular").each do |msr| %>
		<div class="card grey mb-2 w-100">
			<div class="card-body d-flex align-items-center">
				<div class="w-100 d-flex flex-column">
					<span style="overflow-wrap: anywhere;"><%= msr.modern_source.try(:display_name_html_safe) %></span>	
					<% if msr.specific_page.present? %>
						<span>
							<b>Page reference:</b>
							<%= msr.specific_page %>
						</span>
					<% end %>
					<% if msr.siglum.present? %>
						<span>
							<b>Siglum:</b>
							<%= msr.siglum %>
						</span>
					<% end %>
				</div>
				<button type="button" class="btn btn-action ms-2" data-bs-toggle="modal" data-bs-target="#modern-source-reference-modal-<%= msr.id %><% if local_assigns[:bs].present? %>-section-<%= bs %><% end %>">Edit</button>
				<button type="button" class="btn btn-action ms-2" onclick="deleteModernSourceReference(<%= msr.id %>)">
					<i class="far fa-trash-alt"></i>
				</button>
			</div>
		</div>
	<% end %>
</div>
