<div id="<%= dom_id modern_source_reference %>">
  <p>
    <strong>Record:</strong>
    <%= modern_source_reference.record_id %>
  </p>

  <p>
    <strong>Modern source:</strong>
    <%= modern_source_reference.modern_source_id %>
  </p>

  <p>
    <strong>Specific page:</strong>
    <%= modern_source_reference.specific_page %>
  </p>

  <p>
    <strong>Siglum:</strong>
    <%= modern_source_reference.siglum %>
  </p>

</div>
