<div id="religious_orders_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<% religious_orders.each do |religious_order| %>
  <%= button_to "Delete", religious_order_path(religious_order), method: :delete, class: "d-none", id: 'delete_'+religious_order.id.to_s %>
<% end %>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
        { headerName: "Order name", field: "order_name"},
        { headerName: "Abbreviation", field: "abbreviation"},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<!-- <a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a> --><a href='#' onclick='if(confirm(\"Are you sure you want to delete this object?\")){$("+'"#'+links.value.delete_btn+'"'+").click()}' class='btn btn-outline-danger btn-sm'>delete</a>"
    } }
  ];

  const rowData = [
    <% religious_orders.each do |religious_order| %>
      { id:<%= religious_order.id %>,
        order_name: "<%= religious_order.order_name %>",
        abbreviation: "<%= religious_order.abbreviation %>",
        links: { show: "<%= religious_order_path(religious_order) %>", edit: "<%= edit_religious_order_path(religious_order) %>", delete_btn: 'delete_<%= religious_order.id %>' }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.religious_order = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/religious_orders/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#religious_orders_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
