<div class="modal fade" id="addProvenanceModal<%= ownership.try(:id) %>" tabindex="-1" aria-hidden="true">
	<%= form_with(model: ownership, class: "autosave") do |form| %>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><%= ownership.id.present? ? 'Edit' : 'Add' %> Provenance</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-6 mb-2">
						<%= form.label :date_from, style: "display: block" %>
						<%= form.text_field :date_from, class: "form-control" %>
					</div>
					<div class="form-group col-6 mb-2">
						<%= form.label :date_to, style: "display: block" %>
						<%= form.text_field :date_to, class: "form-control" %>
					</div>
					<div class="form-group col-6 mb-2">
						<%= form.label :date_for_owner, style: "display: block" %>
						<%= form.text_field :date_for_owner, class: "form-control" %>
					</div>
					<div class="form-group col-6 mb-2">
						<%= form.check_box :owner_date_is_approximate, class: "form-check-input" %>
						<%= form.label :owner_date_is_approximate %>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :person_id, "Person", style: "display: block" %>
						<select id="person-select" placeholder="Select a person..." autocomplete="off">
							<option value="">Select a person...</option>
							<% Person.all.each do |i| %>
							<option value="<%= i.id %>" <%= 'selected' if ownership.person_id == i.id %>><%= i.full_name %></option>
							<% end %>
						</select>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :institution_id, "Institution", style: "display: block" %>
						<select id="institution-select" placeholder="Select an institution..." autocomplete="off">
							<option value="">Select an institution...</option>
							<% Institution.all.each do |i| %>
							<option value="<%= i.id %>" <%= 'selected' if ownership.institution_id == i.id %>><%= i.name_english %></option>
							<% end %>
						</select>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :religious_order_id, "Religious Order", style: "display: block" %>
						<select id="religious-order-select" placeholder="Select a religious order..." autocomplete="off">
							<option value="">Select a religious order...</option>
							<% ReligiousOrder.all.each do |i| %>
							<option value="<%= i.id %>" <%= 'selected' if ownership.religious_order_id == i.id %>><%= i.order_name %></option>
							<% end %>
						</select>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :location_id, "Location", style: "display: block" %>
						<select id="location-select" placeholder="Select an location..." autocomplete="off">
							<option value="">Select an location...</option>
							<% Location.all.each do |i| %>
							<option value="<%= i.id %>" <%= 'selected' if ownership.location_id == i.id %>><%= i.city_region_country %></option>
							<% end %>
						</select>
					</div>
					
					<div class="form-group col-12 mb-2">
						<%= form.label :provenance_notes, style: "display: block" %>
						<%= form.text_area :provenance_notes, class: "form-control" %>
					</div>
					<%= form.hidden_field :manuscript_id %>
				</div>

			</div>
			<div class="modal-footer">
				<%= form.submit "Save & Close", class: "btn btn-action", onclick: "location.reload()" %>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	new TomSelect("#addProvenanceModal<%= ownership.id %> #person-select",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});

	new TomSelect("#addProvenanceModal<%= ownership.id %> #religious-order-select",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});

	new TomSelect("#addProvenanceModal<%= ownership.id %> #institution-select",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});

	new TomSelect("#addProvenanceModal<%= ownership.id %> #location-select",{
		sortField: {
			field: "text",
			direction: "asc"
		}
	});
</script>