<div class="modal" id="<%= pid %>person-modal<%= ('-' + reference_type) if defined?(reference_type) %>" tabindex="-1" aria-hidden="true" data-depth="<%= depth %>">
	<%= form_with(model: person, url: person.new_record? ? people_path : person_path(person), class: parent.class == Booklist ? "autosave" : "") do |form| %>
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add person</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<%= form.label "Name of person", class: "fw-bolder" %>
				<div class="row">
					<div class="col-md-2"><label>Language</label></div>
					<div class="col-md-2"><label>Prefix</label></div>
					<div class="col-md-2"><label>First name</label></div>
					<div class="col-md-2"><label>Middle name</label></div>
					<div class="col-md-2"><label>Last name</label></div>
					<div class="col-md-2"><label>Suffix</label></div>
				</div>
				<div class="row my-2">
					<div class="col-md-2">
						<select placeholder="Language" v-model="language" name="person[language_id]" class="lang-sel form-control" required>
							<option v-for="l in languages" :value="l.id">{{ l.language_name }}</option>
						</select>
					</div>
					<div class="col-md-2"><%= form.text_field :prefix_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :first_name_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :middle_name_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :last_name_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :suffix_vernacular, class: "form-control" %></div>
				</div>
				<div class="row my-2" v-show="requires_translit">
					<div class="col-md-2"><input type="text" disabled value="Transliteration" class="form-control bg-white"></div>
					<div class="col-md-2"><%= form.text_field :prefix_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :first_name_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :middle_name_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :last_name_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :suffix_transliteration, class: "form-control" %></div>
				</div>
				<div class="row my-2" v-show="requires_english">
					<div class="col-md-2"><input type="text" disabled value="English" class="form-control bg-white"></div>
					<div class="col-md-2"><%= form.text_field :prefix_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :first_name_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :middle_name_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :last_name_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :suffix_english, class: "form-control" %></div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<%= form.label :birth_date, "Dates", class: "fw-bolder mt-4" %>
						<div class="row">
							<div class="col-md-6">
								<%= form.label :birth_date, "Year of birth", style: "display: block;" %>
								<%= form.number_field :birth_date, class: "form-control", max: Date.today.year %>
							</div>
							<div class="col-md-6">
								<%= form.label :death_date, "Year of death", style: "display: block;" %>
								<%= form.number_field :death_date, class: "form-control", max: Date.today.year %>
							</div>
						</div>

						<div class="d-flex mt-4 justify-content-between">
							<%= form.label :viaf, "VIAF: Virtual International Authority File", class: "fw-bolder" %>
							<a href="https://viaf.org/" target="_blank" class="text-decoration-none text-dark">https://viaf.org</a>
						</div>
						<%= form.text_field :viaf, class: "form-control" %>

					</div>
				</div>

			</div>
			<% if parent.class == Booklet %>
				<%= hidden_field_tag :booklet_id, parent.id %>
				<%= hidden_field_tag :reference_type, reference_type %>
			<% elsif parent.class == Ownership %>
				<%= hidden_field_tag :ownership_id, parent.id, class: "ownership-field" %>
			<% elsif parent.class == Content %>
				<%= hidden_field_tag :content_id, parent.id, class: "content-field" %>
			<% elsif parent.class == ModernSource %>
				<%= hidden_field_tag :modern_source_id, parent.id %>
				<%= hidden_field_tag :reference_type, reference_type %>
			<% elsif parent.class == Manuscript %>
				<%= hidden_field_tag :manuscript_id, parent.id %>
				<%= hidden_field_tag :reference_type, reference_type %>
			<% elsif parent.class == Booklist %>
				<%= hidden_field_tag :booklist_id, parent.id %>
				<% if reference_type == 'author' %>
					<%= hidden_field_tag :db_field, 'scribe_id' %>
				<% elsif reference_type == 'owner' %>
					<%= hidden_field_tag :db_field, 'library_owner_id' %>
				<% end %>
			<% end %>
			<div class="modal-footer">
				<%= form.submit "Save & Close", class: "btn btn-action px-4", onclick: ("timeoutReload(" + (parent.class.to_s == "Ownership" ? "'#addProvenanceModal' + $('##{pid}person-modal .ownership-field').val()" : (parent.class.to_s == "Content" ? "'#addContentModal' + $('##{pid}person-modal .content-field').val()" : "")) + ")") %>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	var person_modal_vue;
	$( document ).ready(function() {
		person_modal_vue = new Vue({
			el: "#<%= pid %>person-modal<%= ('-' + reference_type) if defined?(reference_type) %>",
			name: "<%= pid %>PersonModal<%= reference_type.humanize if defined?(reference_type) %>",
			data(){ return{
				languages: <%= Language.all.to_json.html_safe %>,
				language: '',
			} },
			computed: {
				requires_translit: function() {
					return this.language != '' && this.languages.find( l => l.id == this.language ).requires_transliteration;
				},
				requires_english: function() {
					return this.language != '' && this.languages.find( l => l.id == this.language ).language_name.toLowerCase() != 'english';
				}
			},
			mounted(){
				createModalListeners("#<%= pid %>person-modal<%= ('-' + reference_type) if defined?(reference_type) %>");
				new TomSelect('#<%= pid %>person-modal<%= ('-' + reference_type) if defined?(reference_type) %> select.lang-sel',{ sortField: {field: "text", direction: "asc"}, maxItems: 1 });
			}
		});
	});
</script>
