<div class="modal fade" id="person-modal" tabindex="-1" aria-hidden="true">
	<%= form_with(model: person, url: person.new_record? ? people_path : person_path(person)) do |form| %>
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add person</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<%= form.label "Name of person", class: "fw-bolder" %>
				<div class="row">
					<div class="col-md-2"><label>Language</label></div>
					<div class="col-md-2"><label>Prefix</label></div>
					<div class="col-md-2"><label>First name</label></div>
					<div class="col-md-2"><label>Middle name</label></div>
					<div class="col-md-2"><label>Last name</label></div>
					<div class="col-md-2"><label>Suffix</label></div>
				</div>
				<div class="row my-2">
					<div class="col-md-2">
						<select placeholder="Language" v-model="language" name="person[language_id]" class="form-control">
							<option value=""></option>
							<option v-for="l in languages" :value="l.id">{{ l.language_name }}</option>
						</select>
					</div>
					<div class="col-md-2"><%= form.text_field :prefix_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :first_name_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :middle_name_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :last_name_vernacular, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :suffix_vernacular, class: "form-control" %></div>
				</div>
				<div class="row my-2" v-show="requires_translit">
					<div class="col-md-2"><input type="text" disabled value="Transliteration" class="form-control bg-white"></div>
					<div class="col-md-2"><%= form.text_field :prefix_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :first_name_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :middle_name_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :last_name_transliteration, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :suffix_transliteration, class: "form-control" %></div>
				</div>
				<div class="row my-2" v-show="requires_english">
					<div class="col-md-2"><input type="text" disabled value="English" class="form-control bg-white"></div>
					<div class="col-md-2"><%= form.text_field :prefix_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :first_name_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :middle_name_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :last_name_english, class: "form-control" %></div>
					<div class="col-md-2"><%= form.text_field :suffix_english, class: "form-control" %></div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						
						<%= form.label :character, "Type of person", class: "fw-bolder mt-4" %>
						<%= form.hidden_field :character, "v-model": "character" %>
						<div class="d-flex">
							<span @click="character = 'author'" class="me-4 pointer">
								<i class="far" style="color: var(--orange)" :class="character == 'author' ? 'fa-dot-circle' : 'fa-circle'"></i>
								Author
							</span>
							<span @click="character = 'editor'" class="me-4 pointer">
								<i class="far" style="color: var(--orange)" :class="character == 'editor' ? 'fa-dot-circle' : 'fa-circle'"></i>
								Editor
							</span>
							<span @click="character = 'scribe'" class="me-4 pointer">
								<i class="far" style="color: var(--orange)" :class="character == 'scribe' ? 'fa-dot-circle' : 'fa-circle'"></i>
								Scribe
							</span>
							<span @click="character = 'booklet_owner'" class="me-4 pointer">
								<i class="far" style="color: var(--orange)" :class="character == 'booklet_owner' ? 'fa-dot-circle' : 'fa-circle'"></i>
								Booklet owner
							</span>
						</div>

						<%= form.label :birth_date, "Dates", class: "fw-bolder mt-4" %>
						<div class="row">
							<div class="col-md-6">
								<%= form.label :birth_date, style: "display: block;" %>
								<%= form.text_field :birth_date, class: "form-control" %>
							</div>
							<div class="col-md-6">
								<%= form.label :death_date, style: "display: block;" %>
								<%= form.text_field :death_date, class: "form-control" %>
							</div>
						</div>

						<div class="d-flex mt-4 justify-content-between">
							<%= form.label :viaf, "VIAF: Virtual International Authority File", class: "fw-bolder" %>
							<a href="https://viaf.org/" target="_blank" class="text-decoration-none text-dark">https://viaf.org</a>
						</div>
						<%= form.text_field :viaf, class: "form-control" %>

					</div>
				</div>

			</div>
			<% if parent.class == Booklet %>
				<%= hidden_field_tag :booklet_id, parent.id %>
			<% end %>
			<div class="modal-footer">
				<%= form.submit "Save & Close", class: "btn btn-action px-4", onclick: "timeoutReload()" %>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	var person_modal_vue;
	$( document ).ready(function() {
		person_modal_vue = new Vue({
			el: "#person-modal",
			name: "PersonModal",
			data(){ return{
				languages: <%= Language.all.to_json.html_safe %>,
				language: '',
				character: '<%= person.character %>'
			} },
			computed: {
				requires_translit: function() {
					return this.language != '' && this.languages.find( l => l.id == this.language ).requires_transliteration;
				},
				requires_english: function() {
					return this.language != '' && this.languages.find( l => l.id == this.language ).language_name.toLowerCase() != 'english';
				}
			},
			mounted(){
				new TomSelect(`#person-modal select`,{ sortField: {field: "text", direction: "asc"}, maxItems: 1 });
			}
		});
	});
</script>
