<div id="<%= dom_id provenance %>">
  <p>
    <strong>Booklet:</strong>
    <%= provenance.booklet_id_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= provenance.person %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= provenance.institution %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= provenance.location %>
  </p>

  <p>
    <strong>Religious order:</strong>
    <%= provenance.religious_order %>
  </p>

  <p>
    <strong>Diocese:</strong>
    <%= provenance.diocese %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= provenance.region %>
  </p>

  <p>
    <strong>Owned from:</strong>
    <%= provenance.owned_from %>
  </p>

  <p>
    <strong>Owned to:</strong>
    <%= provenance.owned_to %>
  </p>

  <p>
    <strong>Specific date:</strong>
    <%= provenance.specific_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= provenance.notes %>
  </p>

</div>
