<p style="color: green"><%= notice %></p>

<%= render @provenance %>

<div>
  <%= link_to "Edit this provenance", edit_provenance_path(@provenance) %> |
  <%= link_to "Back to provenances", provenances_path %>

  <%= button_to "Destroy this provenance", @provenance, method: :delete %>
</div>
