<div class="d-flex mb-2 align-items-end">
  <div class="form-group mb-2">
    <input type="text" id="filter-text-box" placeholder="Filter grid" oninput="onFilterTextBoxChanged()" name="filter">
  </div>
  <!-- <button class="btn btn-sm btn-outline-action ms-auto" onclick="resetState()">Reset grid</button> -->
</div>

<div id="sections_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: false , sortable: true, filter: true,  resizable: true};

  const columnDefs = [
    { headerName: "Manuscript", children:[
      { headerName: "Id", field: "manuscript.id" },
      { headerName: "Census no.", field: "manuscript.census_no", comparator: numberSort },
      { headerName: "Status", field: "manuscript.status" },
    ]},
    { headerName: "Repository", children: [
      { headerName: "City", field: "manuscript.institution_city" },
      { headerName: "City (alternative)", field: "manuscript.institution_city_alt", hide: true },
      { headerName: "Name", field: "manuscript.institution_name" },
      { headerName: "Name (alternative)", field: "manuscript.institution_name_alternative", hide: true },
      { headerName: "Country", field: "manuscript.institution_country" },
    ] },
    { headerName: "Manuscript", children: [
      { headerName: "Shelfmark", field: "manuscript.shelfmark"},
      { headerName: "Old shelfmarks", field: "manuscript.old_shelfmark" },
      { headerName: "Material", field: "manuscript.material" },
      { headerName: "Dimensions", field: "manuscript.dimensions" },
      { headerName: "Number of pages/folios", field: "manuscript.leaf_page_no", comparator: numberSort },
      { headerName: "Date from", field: "manuscript.date_from", comparator: numberSort },
      { headerName: "Date to", field: "manuscript.date_to", comparator: numberSort },
      { headerName: "Specific date", field: "manuscript.specific_date", comparator: numberSort },
      { headerName: "Content type", field: "manuscript.content_type" },
      { headerName: "Notes on ms.", field: "manuscript.notes", cellEditor: 'agLargeTextCellEditor' },
      { headerName: "Languages in ms.", field: "manuscript.languages" },
    ]},      
    { headerName: "Origin: institution", children: [
      { headerName: "Name", field: "manuscript.genesis_institution_name" },
      { headerName: "Name (alternative)", field: "manuscript.genesis_institution_name_alternative", hide: true },
    ] },
    { headerName: "Origin: location", children: [
      { headerName: "City", field: "manuscript.city" },
      { headerName: "City (alternative)", field: "manuscript.city_alt", hide: true },
      { headerName: "Diocese", field: "manuscript.diocese" },
      { headerName: "Diocese (alternative)", field: "manuscript.diocese_alt", hide: true },
      { headerName: "Region", field: "manuscript.region" },
      { headerName: "Region (alternative)", field: "manuscript.region_alt", hide: true },
      { headerName: "Country", field: "manuscript.country" },
    ] },
    { headerName: "Origin: religious order", children: [
      { headerName: "Name", field: "manuscript.religious_order_name" },
    ] },
    { headerName: "Correspondent", children: [
      { headerName: "Name(s)", field: "manuscript.correspondent_names" },
    ] },
    { headerName: "Transcribed by", children: [
      { headerName: "Name(s)", field: "manuscript.transcriber_names" },
    ] },
    { headerName: "Compiled by", children: [
      { headerName: "Name(s)", field: "manuscript.compiler_names" },
    ] },
    { headerName: "Booklet", children: [
      { headerName: "Id", field: "booklet.id" },
      { headerName: "Booklet no", field: "booklet.booklet_no"  },
      { headerName: "Location of booklet (from)", field: "booklet.pages_folios_from" },
      // { headerName: "Location of booklet (to)", field: "booklet.pages_folios_to" },
      { headerName: "Content type", field: "booklet.content_type" },
      { headerName: "Date from", field: "booklet.date_from", comparator: numberSort },
      { headerName: "Date to", field: "booklet.date_to", comparator: numberSort },
      { headerName: "Specific date", field: "booklet.specific_date", comparator: numberSort },
      { headerName: "Scribes", field: "booklet.scribes" },
      { headerName: "Origin: institution", field: "booklet.genesis_institution_id" },
      { headerName: "Origin: religious order", field: "booklet.genesis_religious_order_id" },
      { headerName: "Origin: location", field: "booklet.genesis_location_id" },
      { headerName: "Origin: notes", field: "booklet.origin_notes" }
    ]},
    { headerName: "Content", children: [
      { headerName: "Id", field: "content.id" },
      { headerName: "Sequence no", field: "content.sequence_no"},
      { headerName: "Title", field: "content.title_id"},
      { headerName: "Author", field: "content.author_id"},
    ]},
    { headerName: "Apocryphon", children: [
      { headerName: "Id", field: "apocryphon.id" },
      { headerName: "Main English title", field: "apocryphon.main_english_title" },
      { headerName: "Main Latin title", field: "apocryphon.main_latin_title" },
    ]},
    { headerName: "Text", children: [
      { headerName: "Id", field: "text.id" },
      { headerName: "Text pages folios", field: "text.text_pages_folios"},
      { headerName: "Language", field: "text.languages" },
      { headerName: "Date from", field: "text.date_from", comparator: numberSort },
      { headerName: "Date to", field: "text.date_to", comparator: numberSort },
      { headerName: "Specific date", field: "text.specific_date", comparator: numberSort },
      { headerName: "No. columns", field: "text.no_columns"},
      { headerName: "Scribes", field: "text.scribes" },
      { headerName: "Script", field: "text.script" },
      { headerName: "Scribe notes", field: "text.notes_on_scribe" },
      { headerName: "Decoration", field: "text.decoration"},
      { headerName: "Title folios", field: "text.title_folios_pages"},
      { headerName: "Manuscript title", field: "text.manuscript_title_orig"},
      { headerName: "Manuscript title translit.", field: "text.manuscript_title_orig_transliteration", hide: true },
      { headerName: "Manuscript title transla.", field: "text.manuscript_title_translation", hide: true },
      { headerName: "Colophon folios ", field: "text.pages_folios_colophon"},
      { headerName: "Colophon", field: "text.colophon_orig"},
      { headerName: "Colophon translit.", field: "text.colophon_transliteration", hide: true },
      { headerName: "Colophon transla.", field: "text.colophon_translation", hide: true },
      { headerName: "Version", field: "text.version"},
      { headerName: "Extent", field: "text.extent"},
      { headerName: "Notes", field: "text.notes", hide: true },      
    ]},
    { headerName: "Text section", children: [
      { headerName: "Section name", field: "section.section_name"},
      { headerName: "Pages folios incipit", field: "section.pages_folios_incipit"},
      { headerName: "Incipit", field: "section.incipit_orig", cellRenderer: richTextRender },
      { headerName: "Incipit translit.", field: "section.incipit_orig_transliteration", cellRenderer: richTextRender, hide: true },
      { headerName: "Incipit transla.", field: "section.incipit_translation", cellRenderer: richTextRender, hide: true },
      { headerName: "Pages folios explicit", field: "section.pages_folios_explicit"},
      { headerName: "Explicit", field: "section.explicit_orig", cellRenderer: richTextRender },
      { headerName: "Explicitorig translit.", field: "section.explicitorig_transliteration", cellRenderer: richTextRender, hide: true },
      { headerName: "Explicit transla.", field: "section.explicit_translation", cellRenderer: richTextRender, hide: true },
    ]},
  ];

  const rowData = [
    <% @queries.each do |key, value| %>
      <% value.each do |rec| %>
        { 
          section:{
            <% section = key == :sections ? rec : @new_section %>
            section_name: "<%= section.section_name %>",
            pages_folios_incipit: "<%= section.pages_folios_incipit %>",
            incipit_orig: `<%= section.incipit_orig.html_safe %>`,
            incipit_orig_transliteration: `<%= section.incipit_orig_transliteration %>`,
            incipit_translation: `<%= section.incipit_translation %>`,
            pages_folios_explicit: "<%= section.pages_folios_explicit %>",
            explicit_orig: `<%= section.explicit_orig %>`,
            explicitorig_transliteration: `<%= section.explicitorig_transliteration %>`,
            explicit_translation: `<%= section.explicit_translation %>`,
          },
          text: {
            <% text = key == :texts ? rec : ([:sections].include?(key) ? section.text : @new_text) %>
            id: "<%= text.id %>",
            text_pages_folios: "<%= text.text_pages_folios_from %> - <%= text.text_pages_folios_to %>",
            decoration: "<%= text.decoration %>",
            title_folios_pages: "<%= text.title_pages_folios_from %> - <%= text.title_pages_folios_to %>",
            manuscript_title_orig: "<%= text.manuscript_title_orig %>",
            manuscript_title_orig_transliteration: "<%= text.manuscript_title_orig_transliteration %>",
            manuscript_title_translation: "<%= text.manuscript_title_translation %>",
            pages_folios_colophon: "<%= text.colophon_pages_folios_from %> - <%= text.colophon_pages_folios_to %>",
            colophon_orig: "<%= text.colophon_orig %>",
            colophon_transliteration: "<%= text.colophon_transliteration %>",
            colophon_translation: "<%= text.colophon_translation %>",
            notes: "<%= text.notes %>",
            transcriber_id: "<%= text.transcriber_id %>",// COME BACK TO ME
            version: "<%= text.version %>",
            extent: "<%= text.extent %>",
            languages: <%= text.languages.map(&:language_name).to_json.html_safe %>,
            date_from: "<%= text.try(:date_from) %>",
            date_to: "<%= text.try(:date_to) %>",
            specific_date: "<%= text.try(:specific_date) %>",
            no_columns: "<%= text.no_columns %>",
            scribes: <%= (text.try(:scribes) || []).map(&:full_name).to_json.html_safe %>,
            script: "<%= text.script %>",
            notes_on_scribe: "<%= text.notes_on_scribe %>",
          },
          content: {
            <% content = key == :contents ? rec : ([:texts, :sections].include?(key) ? text.content : @new_content) %>
            id: "<%= content.id %>",
            sequence_no: "<%= content.sequence_no %>",
            title_id: "<%= content.title_id %>",// COME BACK TO ME
            author_id: "<%= content.author_id %>",// COME BACK TO ME
          },
          apocryphon: {
            <% apocryphon = (content.title_id.present? && content.title.apocryphon_id.present? ? content.title.apocryphon : @new_apocryphon) %>
            id: "<%= apocryphon.id %>",
            main_english_title: "<%= apocryphon.main_eng_title %>",
            main_latin_title: "<%= apocryphon.main_lat_title %>",
          },
          booklet: {
            <% booklet = key == :booklets ? rec : ([:texts, :sections, :contents].include?(key) && content.booklet_id.present? ? content.booklet : @new_content) %>
            id: "<%= booklet.try(:id) %>",
            booklet_no: "<%= booklet.try(:booklet_no) %>",
            pages_folios_from: "<%= booklet.try(:pages_folios_from) %>",
            pages_folios_to: "<%= booklet.try(:pages_folios_to) %>",
            date_from: "<%= booklet.try(:date_from) %>",
            date_to: "<%= booklet.try(:date_to) %>",
            specific_date: "<%= booklet.try(:specific_date) %>",
            genesis_location_id: "<%= booklet.try(:genesis_location_id) %>",
            scribes: <%= (booklet.try(:scribes) || []).map(&:full_name).to_json.html_safe %>,
            genesis_institution_id: "<%= booklet.try(:genesis_institution_id) %>",
            genesis_religious_order_id: "<%= booklet.try(:genesis_religious_order_id) %>",
            content_type: "<%= booklet.try(:content_type) %>",
            origin_notes: `<%= booklet.try(:origin_notes).try(:html_safe) %>`,
          },
          manuscript: {
            <% manuscript = key == :manuscripts ? rec : ([:booklets].include?(key) || content.booklet_id.present? ? booklet.manuscript : content.manuscript) %>
            id: "<%= manuscript.id %>",
            identifier: "<%= manuscript.identifier %>",
            census_no: "<%= manuscript.census_no %>",
            status: "<%= manuscript.status %>",
            institution_id: "<%= manuscript.institution_id %>",
            <% m_institution = manuscript.institution %>
            institution_name: `<%= m_institution.try(:display_name).try(:html_safe) %>`,
            institution_name_alternative: "<%= m_institution.try(:name_alt) %>",
            <% m_institution_loc = manuscript.institution.try(:location) %>
            institution_city: "<%= m_institution_loc.try(:city) %>",
            institution_city_alt: "<%= m_institution_loc.try(:city_alt) %>",
            institution_region: "<%= m_institution_loc.try(:region) %>",
            institution_region_alt: "<%= m_institution_loc.try(:region_alt) %>",
            institution_country: `<%= m_institution_loc.try(:country).try(:html_safe) %>`,
            institution_diocese: "<%= m_institution_loc.try(:diocese) %>",
            institution_diocese_alt: "<%= m_institution_loc.try(:diocese_alt) %>",
            genesis_institution_id: "<%= manuscript.genesis_institution_id %>",
            genesis_institution_name: "<%= manuscript.genesis_institution.try(:name) %>",
            genesis_institution_name_alternative: "<%= manuscript.genesis_institution.try(:name_alt) %>",
            genesis_location_id: "<%= manuscript.genesis_location_id %>",
            city: "<%= manuscript.genesis_location.try(:city) %>",
            city_alt: "<%= manuscript.genesis_location.try(:city_alt) %>",
            region: "<%= manuscript.genesis_location.try(:region) %>",
            region_alt: "<%= manuscript.genesis_location.try(:region_alt) %>",
            country: "<%= manuscript.genesis_location.try(:country) %>",
            diocese: "<%= manuscript.genesis_location.try(:diocese) %>",
            diocese_alt: "<%= manuscript.genesis_location.try(:diocese_alt) %>",
            religious_order_id: "<%= manuscript.genesis_religious_order_id %>",
            religious_order_name: "<%= manuscript.genesis_religious_order.try(:order_name) %>",
            religious_order_abbreviation: "<%= manuscript.genesis_religious_order.try(:abbreviation) %>",
            scribe_names: <%= manuscript.scribes.map(&:full_name).to_json.html_safe %>,
            scribe_ids: <%= manuscript.scribes.map(&:id).to_json.html_safe %>,
            correspondent_names: <%= manuscript.correspondents.map(&:full_name).to_json.html_safe %>,
            correspondent_ids: <%= manuscript.correspondents.map(&:id).to_json.html_safe %>,
            transcriber_names: <%= manuscript.transcribers.map(&:full_name).to_json.html_safe %>,
            transcriber_ids: <%= manuscript.transcribers.map(&:id).to_json.html_safe %>,
            compiler_names: <%= manuscript.compilers.map(&:full_name).to_json.html_safe %>,
            compiler_ids: <%= manuscript.compilers.map(&:id).to_json.html_safe %>,
            shelfmark: "<%= manuscript.shelfmark.html_safe %>",
            old_shelfmark: "<%= manuscript.old_shelfmark.html_safe  %>",
            material: "<%= manuscript.material.html_safe  %>",
            dimensions: "<%= manuscript.dimensions.html_safe %>",
            leaf_page_no: "<%= manuscript.leaf_page_no %>",
            date_from: "<%= manuscript.date_from.html_safe  %>",
            date_to: "<%= manuscript.date_to.html_safe  %>",
            specific_date: "<%= manuscript.specific_date.html_safe %>",
            content_type: `<%= manuscript.content_type.html_safe %>`,
            notes: `<%= manuscript.notes.html_safe  %>`,
            languages: <%= manuscript.languages.pluck(:language_name).to_json.html_safe %>,
          }
        },
      <% end %>
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    sideBar: 'columns',
  };

  function numberSort(num1, num2){
      return num1 - num2;
    };

  function richTextRender(p) {
    return p.value;
  }

  function onFilterTextBoxChanged() {
      gridOptions.api.setQuickFilter(
        document.getElementById('filter-text-box').value
      );
  }

  const eGridDiv = document.querySelector('#sections_grid');
  new agGrid.Grid(eGridDiv, gridOptions);
  var columnToolPanel = gridOptions.api.getToolPanelInstance('columns');
  columnToolPanel.collapseColumnGroups();
  autoSizeAll(gridOptions, false)

</script>
