<div id="sections_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false},//cellRenderer: 'agGroupCellRenderer'
        { headerName: "Text", field: "text_id"},
        { headerName: "Section name", field: "section_name"},
        { headerName: "Pages folios incipit", field: "pages_folios_incipit"},
        { headerName: "Incipit orig", field: "incipit_orig"},
        { headerName: "Incipit orig transliteration", field: "incipit_orig_transliteration"},
        { headerName: "Incipit translation", field: "incipit_translation"},
        { headerName: "Pages folios explicit", field: "pages_folios_explicit"},
        { headerName: "Explicit orig", field: "explicit_orig"},
        { headerName: "Explicitorig transliteration", field: "explicitorig_transliteration"},
        { headerName: "Explicit translation", field: "explicit_translation"},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<a href='" + links.value.show + "' class='btn btn-outline-primary btn-sm me-1'>display</a><a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a>"
    } }
  ];

  const rowData = [
    <% sections.each do |section| %>
      { id:<%= section.id %>,
        text_id: "<%= section.text_id %>",section_name: "<%= section.section_name %>",pages_folios_incipit: "<%= section.pages_folios_incipit %>",incipit_orig: "<%= section.incipit_orig %>",incipit_orig_transliteration: "<%= section.incipit_orig_transliteration %>",incipit_translation: "<%= section.incipit_translation %>",pages_folios_explicit: "<%= section.pages_folios_explicit %>",explicit_orig: "<%= section.explicit_orig %>",explicitorig_transliteration: "<%= section.explicitorig_transliteration %>",explicit_translation: "<%= section.explicit_translation %>",
        links: { show: "<%= section_path(section) %>", edit: "<%= edit_section_path(section) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.location = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/sections/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#sections_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
