<div id="ownerships_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false},//cellRenderer: 'agGroupCellRenderer'
        { headerName: "Booklet", field: "booklet_id"},
        { headerName: "Person", field: "person_id"},
        { headerName: "Institution", field: "institution_id"},
        { headerName: "Location", field: "location_id"},
        { headerName: "Religious order", field: "religious_order_id"},
        { headerName: "Date from", field: "date_from"},
        { headerName: "Date to", field: "date_to"},
        { headerName: "Date for owner", field: "date_for_owner"},
        { headerName: "Date Exact", field: "date_exact"},
        { headerName: "Provenance notes", field: "provenance_notes"},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<a href='" + links.value.show + "' class='btn btn-outline-primary btn-sm me-1'>display</a><a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a>"
    } }
  ];

  const rowData = [
    <% ownerships.each do |ownership| %>
      { id:<%= ownership.id %>,
        booklet_id: "<%= ownership.booklet_id %>",person_id: "<%= ownership.person_id %>",institution_id: "<%= ownership.institution_id %>",location_id: "<%= ownership.location_id %>",religious_order_id: "<%= ownership.religious_order_id %>",date_from: "<%= ownership.date_from %>",date_to: "<%= ownership.date_to %>",date_for_owner: "<%= ownership.date_for_owner %>",date_exact: "<%= ownership.date_exact %>",provenance_notes: "<%= ownership.provenance_notes %>",
        links: { show: "<%= ownership_path(ownership) %>", edit: "<%= edit_ownership_path(ownership) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.ownership = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/ownerships/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#ownerships_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
