<div id="ownerships-list">
	<% parent.ownerships.each do |p| %>
		<div class="card grey mb-3">
			<div class="card-body row">
				<div class="col-sm-4 text-end">
					<%= p.written_date_range %>
					<% if p.written_date_range.present? && (p.display_name.present? || p.location.try(:city_region_country).present? || p.provenance_notes.present?) %><span class="ms-3">&#124;</span><% end %>
				</div>
				<div class="col-sm">
					<span class=""><%= p.display_name %></span>
					<% if p.location.try(:city_region_country).present? %><br><%= p.location.try(:city_region_country) %><% end %>
					<% if p.provenance_notes.present? %><br><%= p.provenance_notes %><% end %>
				</div>
				<div class="col-4 d-flex align-items-center justify-content-end">
					<%= link_to "Edit", '#manuscripts', class: "btn btn-outline-action", data: { 'bs-toggle': "modal",  'bs-target': "#addProvenanceModal"+p.id.to_s} %>
					<div class="dropdown">
					  <button class="btn btn-outline-action ms-2" type="button" id="ownership-options-<%= p.id %>" data-bs-toggle="dropdown" aria-expanded="false">
					  	<i class="far fa-ellipsis-h"></i>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="ownership-options-<%= p.id %>">
					    <% if parent.class == Manuscript %><li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#move-ownership-<%= p.id %>">Move to booklet</button></li><% end %>
					    <li><%= link_to "Delete provenance", '', class: "dropdown-item", onclick: "deleteOwnership('"+p.id.to_s+"')" %></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
