<div id="<%= dom_id ownership %>">
  <p>
    <strong>Booklet:</strong>
    <%= ownership.booklet_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= ownership.person_id %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= ownership.institution_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ownership.location_id %>
  </p>

  <p>
    <strong>Religious order:</strong>
    <%= ownership.religious_order_id %>
  </p>

  <p>
    <strong>Date from:</strong>
    <%= ownership.date_from %>
  </p>

  <p>
    <strong>Date to:</strong>
    <%= ownership.date_to %>
  </p>

  <p>
    <strong>Date for owner:</strong>
    <%= ownership.date_for_owner %>
  </p>

  <p>
    <strong>Owner date is approximate:</strong>
    <%= ownership.owner_date_is_approximate %>
  </p>

  <p>
    <strong>Provenance notes:</strong>
    <%= ownership.provenance_notes %>
  </p>

</div>
