<div class="modal" id="new-religious-order-modal" tabindex="-1" aria-hidden="true">
	<%= form_with(model: religious_order) do |form| %>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add religious order</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-12 mb-2">
						<%= form.label :order_name, "Name of religious order", style: "display: block;" %>
						<%= form.text_field :order_name, class: "form-control", placeholder: "Most widely used name of religious order" %>
					</div>
					<div class="form-group col-md-12 mb-2">
						<%= form.label :abbreviation, style: "display: block;" %>
						<%= form.text_field :abbreviation, class: "form-control", placeholder: "Abbreviation" %>
					</div>
					<div class="form-group col-md-12 mb-2">
						<%= form.label :notes, style: "display: block;" %>
						<%= form.text_area :notes, class: "form-control", style: "min-height: 60px;", placeholder: "e.g. Alternative titles for order\ne.g. Previous names of order" %>
					</div>
				</div>
			</div>
			<% if parent.class == Booklet %>
				<%= hidden_field_tag :booklet_id, parent.id %>
			<% end %>
			<div class="modal-footer">
				<%= form.submit "Save & Close", class: "btn btn-action", onclick: "timeoutReload()" %>
			</div>
		</div>
	</div>
	<% end %>	
</div>
