<div id="booklet-booklists-list">
	<% parent.booklet_booklists.each do |b| %>
		<div class="card grey mb-2" id="<%= dom_id b %>">
			<div class="card-body d-flex align-items-center">
				<span class="me-auto"><%= parent.class == Booklet ? b.booklist.display_name : b.booklet.display_name %></span>

				<%= link_to "Open", parent.class == Booklet ? edit_booklist_path(b.booklist) : edit_manuscript_booklet_path(b.booklet.manuscript, b.booklet), class: "btn btn-outline-action" %>

				<div class="dropdown">
				  <button class="btn btn-outline-action ms-2" type="button" id="booklet-booklist-options-<%= b.id %>" data-bs-toggle="dropdown" aria-expanded="false">
				  	<i class="far fa-ellipsis-h"></i>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="booklet-booklist-options-<%= b.id %>">
				    <li><button type="button" class="dropdown-item" onclick="deleteBookletBooklist(<%= b.id %>)">Delete connection</button></li>
				  </ul>
				</div>
			</div>
		</div>
	<% end %>
</div>
