<div id="<%= dom_id change_log %>">
  <p>
    <strong>User:</strong>
    <%= change_log.user_id %>
  </p>

  <p>
    <strong>Controller name:</strong>
    <%= change_log.controller_name %>
  </p>

  <p>
    <strong>Action name:</strong>
    <%= change_log.action_name %>
  </p>

  <p>
    <strong>Record:</strong>
    <%= change_log.record_id %>
  </p>

  <p>
    <strong>Additional info:</strong>
    <%= change_log.additional_info %>
  </p>

</div>
