<%= form_with(model: title, class: "autosave block-submit", id: "title_pre_form") do |form| %>

<div class="row">
	<%= form.label "Language" %>
	<%= select_tag("title[language_id]", options_for_select([ ['English', english_id ] , ['Latin', latin_id ]]), class: "form-control") %>

	<%= form.label "Title", class: "mt-2" %>
	<%= form.text_field :title_orig, class: "form-control" %>

	<div class="form-check mt-2">
		<%= form.check_box :italicized, class: 'form-check-input' %>
		<%= form.label "Italicized?", class: "form-check-label" %>
	</div>
</div>
<div class="row"></div>
<%= render 'layouts/save_now', form: form %>
<% end %>
<script type="text/javascript">
	var institutution_modal_vue;
	$( document ).ready(function() {
		institutution_vue = new Vue({
			el: "#title_pre_form",
			name: "title_pre_form",
			data: function() {
				return {
					...<%= @title.to_json.html_safe %>
				}
			},
		});
	});
</script>
<%= render "layouts/vue_language_form_group" %>
