<div id="<%= dom_id title %>">
  <p>
    <strong>Apocryphon:</strong>
    <%= title.apocryphon_id %>
  </p>

  <p>
    <strong>Title orig:</strong>
    <%= title.title_orig %>
  </p>

  <p>
    <strong>Title orig transliteration:</strong>
    <%= title.title_orig_transliteration %>
  </p>

  <p>
    <strong>Title translation:</strong>
    <%= title.title_translation %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= title.language_id %>
  </p>

</div>
