<div id="text_urls_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false},//cellRenderer: 'agGroupCellRenderer'
        { headerName: "Type", field: "type"},
        { headerName: "Text", field: "text_id"},
        { headerName: "Url", field: "url"},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<a href='" + links.value.show + "' class='btn btn-outline-primary btn-sm me-1'>display</a><a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a>"
    } }
  ];

  const rowData = [
    <% text_urls.each do |text_url| %>
      { id:<%= text_url.id %>,
        type: "<%= text_url.type %>",text_id: "<%= text_url.text_id %>",url: "<%= text_url.url %>",
        links: { show: "<%= text_url_path(text_url) %>", edit: "<%= edit_text_url_path(text_url) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.text_url = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/text_urls/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#text_urls_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
