<div id="<%= dom_id booklist %>">
  <p>
    <strong>Booklist type:</strong>
    <%= booklist.booklist_type %>
  </p>

  <p>
    <strong>Manuscript source:</strong>
    <%= booklist.manuscript_source %>
  </p>

  <p>
    <strong>Library owner:</strong>
    <%= booklist.library_owner_id %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= booklist.institution_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= booklist.location_id %>
  </p>

  <p>
    <strong>Religious order:</strong>
    <%= booklist.religious_order_id %>
  </p>

  <p>
    <strong>Scribe:</strong>
    <%= booklist.scribe_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= booklist.language_id %>
  </p>

  <p>
    <strong>Title orig:</strong>
    <%= booklist.title_orig %>
  </p>

  <p>
    <strong>Title orig transliteration:</strong>
    <%= booklist.title_orig_transliteration %>
  </p>

  <p>
    <strong>Title orig translation:</strong>
    <%= booklist.title_orig_translation %>
  </p>

  <p>
    <strong>Chapter orig:</strong>
    <%= booklist.chapter_orig %>
  </p>

  <p>
    <strong>Chapter orig transliteration:</strong>
    <%= booklist.chapter_orig_transliteration %>
  </p>

  <p>
    <strong>Chapter translation:</strong>
    <%= booklist.chapter_translation %>
  </p>

  <p>
    <strong>Date from:</strong>
    <%= booklist.date_from %>
  </p>

  <p>
    <strong>Date to:</strong>
    <%= booklist.date_to %>
  </p>

  <p>
    <strong>Specific date:</strong>
    <%= booklist.specific_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= booklist.notes %>
  </p>

</div>
