<div id="booklists_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false},//cellRenderer: 'agGroupCellRenderer'
        { headerName: "Booklist type", field: "booklist_type"},
        { headerName: "Manuscript source", field: "manuscript_source"},
        { headerName: "Library owner", field: "library_owner_id"},
        { headerName: "Institution", field: "institution_id"},
        { headerName: "Location", field: "location_id", hide: true},
        { headerName: "Religious order", field: "religious_order_id", hide: true},
        { headerName: "Scribe", field: "scribe_id", hide: true},
        { headerName: "Language", field: "language_id"},
        { headerName: "Title orig", field: "title_orig"},
        { headerName: "Title orig transliteration", field: "title_orig_transliteration", hide: true},
        { headerName: "Title orig translation", field: "title_orig_translation", hide: true},
        { headerName: "Date from", field: "date_from", hide: true},
        { headerName: "Date to", field: "date_to", hide: true},
        { headerName: "Specific date", field: "specific_date", hide: true},
        { headerName: "Notes", field: "notes", hide: true},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a>"
    } }
  ];

  const rowData = [
    <% booklists.each do |bl| %>
      { id:<%= bl.id %>,
        booklist_type: "<%= bl.booklist_type %>",
        manuscript_source: "<%= bl.manuscript_source %>",
        library_owner_id: "<%= bl.library_owner.full_name if bl.library_owner_id.present? %>",
        institution_id: "<%= bl.institution.display_name if bl.institution.present? %>",
        location_id: "<%= bl.location.city_region_country if bl.location_id.present? %>",
        religious_order_id: "<%= bl.religious_order.display_name if bl.religious_order_id.present? %>",
        scribe_id: "<%= bl.scribe.full_name if bl.scribe_id.present? %>",
        language_id: "<%= bl.language.language_name if bl.language_id.present? %>",
        title_orig: "<%= bl.title_orig %>",
        title_orig_transliteration: "<%= bl.title_orig_transliteration %>",
        title_orig_translation: "<%= bl.title_orig_translation %>",
        date_from: "<%= bl.date_from %>",
        date_to: "<%= bl.date_to %>",
        specific_date: "<%= bl.specific_date %>",
        notes: "<%= bl.notes %>",
        links: { edit: "<%= edit_booklist_path(bl) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
    sideBar: 'columns',
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.booklist = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/booklists/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#booklists_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
