<div id="<%= dom_id booklist_reference %>">
  <p>
    <strong>Booklist:</strong>
    <%= booklist_reference.booklist_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= booklist_reference.text_id %>
  </p>

  <p>
    <strong>Relevant text booklist orig:</strong>
    <%= booklist_reference.relevant_text_booklist_orig %>
  </p>

  <p>
    <strong>Relevant text booklist orig transliteration:</strong>
    <%= booklist_reference.relevant_text_booklist_orig_transliteration %>
  </p>

  <p>
    <strong>Relevant text booklist translation:</strong>
    <%= booklist_reference.relevant_text_booklist_translation %>
  </p>

  <p>
    <strong>Apocryphon:</strong>
    <%= booklist_reference.apocryphon_id %>
  </p>

</div>
