<div id="booklist_references_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false},//cellRenderer: 'agGroupCellRenderer'
        { headerName: "Booklist", field: "booklist_id"},
        { headerName: "Text", field: "text_id"},
        { headerName: "Relevant text booklist orig", field: "relevant_text_booklist_orig"},
        { headerName: "Relevant text booklist orig transliteration", field: "relevant_text_booklist_orig_transliteration"},
        { headerName: "Relevant text booklist translation", field: "relevant_text_booklist_translation"},
        { headerName: "Apocryphon", field: "apocryphon_id"},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<a href='" + links.value.show + "' class='btn btn-outline-primary btn-sm me-1'>display</a><a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a>"
    } }
  ];

  const rowData = [
    <% booklist_references.each do |booklist_reference| %>
      { id:<%= booklist_reference.id %>,
        booklist_id: "<%= booklist_reference.booklist_id %>",text_id: "<%= booklist_reference.text_id %>",relevant_text_booklist_orig: "<%= booklist_reference.relevant_text_booklist_orig %>",relevant_text_booklist_orig_transliteration: "<%= booklist_reference.relevant_text_booklist_orig_transliteration %>",relevant_text_booklist_translation: "<%= booklist_reference.relevant_text_booklist_translation %>",apocryphon_id: "<%= booklist_reference.apocryphon_id %>",
        links: { show: "<%= booklist_reference_path(booklist_reference) %>", edit: "<%= edit_booklist_reference_path(booklist_reference) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.booklist_reference = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/booklist_references/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#booklist_references_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
