<div class="modal" id="booklist-modal-<%= reference_type %>" tabindex="-1" aria-hidden="true">
	<%= form_with(model: booklist, url: booklist_path(booklist)) do |form| %>
	<input type="hidden" name="<%= reference_type %>_present" value="1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Change booklist person</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label class="mt-3 fw-bolder"><%= reference_type.pluralize.humanize %></label>
				<select class="form-control" multiple="multiple" name="booklist[<%= reference_type %>_id]" id="booklist_<%= reference_type %>_id" placeholder="Select <%= reference_type %>(s)">
					<% sort_hash_keys(@grouped_people, [reference_type, 'multiple_roles', 'no_role_assigned']).each do |group, people| %>
						<optgroup label="<%= group.to_s.humanize %>">
							<% people.each do |person| %>
								<option value="<%= person.id %>"><%= person.full_name %></option>
							<% end %>
						</optgroup>
					<% end %>
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-action" onclick="saveModal('booklist', '<%= reference_type %>')">Save & Close</button>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	$(function() {
		new TomSelect("#booklist-modal-<%= reference_type %> form select", ts_max_1);;
	})
</script>
