

<%= form_with(model: person_reference) do |form| %>
  <% if person_reference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person_reference.errors.count, "error") %> prohibited this person_reference from being saved:</h2>

      <ul>
        <% person_reference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col-4 mb-2">
		    <%= form.label :record_id, style: "display: block" %>
	    <%= form.text_field :record_id, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
    <select id="person-select" placeholder="Select a person..." autocomplete="off">
      <option value="">Select a person...</option>
      <% Person.all.each do |person| %>
        <option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %></option>
      <% end %>
    </select>
	</div>
</div>
  <div>
    <%= form.submit "Submit", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
	
<script type="text/javascript">
  new TomSelect("#person-select",{
    create: true,
    sortField: {
      field: "text",
      direction: "asc"
    },
    maxOptions: null,
  });
</script>