<div class="row">
  <div class="filterable">
    <div class="panel-heading text-end">
      <button class="btn btn-outline-secondary btn-sm btn-filter"><i class="far fa-filter"></i> Filter</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="filters">
          <% unless hide_columns.include? 'id' %><th class="col"><input type="text" class="form-control" placeholder="Id" disabled></th><% end %>
                      <% unless hide_columns.include? 'record_id' %><th class="col"><input type="text" class="form-control" placeholder="Record" disabled></th><% end %>
                      <% unless hide_columns.include? 'person_id' %><th class="col"><input type="text" class="form-control" placeholder="Person" disabled></th><% end %>
                    <% unless hide_buttons.count == 2 %><th class="col-3">Actions</th><% end %>
        </tr>
      </thead>
      <tbody>
        <% person_references.each do |person_reference| %>
      	<tr>
          <% unless hide_columns.include? 'id' %><td class="col"><%= person_reference.id %></td><% end -%>
                      <% unless hide_columns.include? 'record_id' %><td class="col"><%= person_reference.record_id %></td><% end %>
                      <% unless hide_columns.include? 'person_id' %><td class="col"><%= person_reference.person_id %></td><% end %>
                  	<td class="col-3">
        		<% unless hide_buttons.include? 'open' %><%= link_to "Open", person_reference, class: "btn btn-outline-primary me-2" %><% end %>
        		<% unless hide_buttons.include? 'edit' %><%= link_to "Edit", edit_person_reference_path(person_reference), class: "btn btn-outline-primary me-2" %><% end %>
        	</td>
        </tr>
        <% end %>
      </tbody>
      <caption>No.of Rows : <span id="rowcount"></span></caption>
    </table>
  </div>
</div>
