<div class="modal" id="<%= pid %>new-institution-modal" tabindex="-1" aria-hidden="true" data-depth="<%= depth %>">
	<%= form_with(model: institution) do |form| %>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add instiution</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label class="fw-bolder">Institution name</label>
				<language-form-groups
					class="mb-4"
					key="<%= pid %>instiution-name"
					record_type="institution"
					name="Insitution"
					language_column="language_id"
					orig="name_orig"
					translit="name_orig_transliteration"
					eng="name_english"
				></language-form-groups>
				<label class="mt-3 fw-bolder">Location</label>
				<div class="row">
					<div class="form-group col-md-12 mb-2">
						<%= form.collection_select :location_id, Location.all, :id, :city_region_country, {include_blank: true}, {class: "form-control", placeholder: "Select location"} %>
					</div>
				</div>
			</div>
			<% if parent.class == Manuscript %>
				<%= hidden_field_tag :manuscript_id, parent.id %>
			<% elsif parent.class == Booklet %>
				<%= hidden_field_tag :booklet_id, parent.id %>
			<% elsif parent.class == Ownership %>
				<%= hidden_field_tag :ownership_id, parent.id, class: "ownership-field" %>
			<% elsif parent.class == ModernSource %>
				<%= hidden_field_tag :modern_source_id, parent.id %>
			<% end %>
			<div class="modal-footer">
				<%= form.submit "Save & Close", class: "btn btn-action", onclick: ("timeoutReload(" + (parent.class.to_s == "Ownership" ? "'#addProvenanceModal' + $('##{pid}new-institution-modal .ownership-field').val()" : "") + ")") %>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	var institutution_modal_vue;
	$( document ).ready(function() {
		institutution_vue = new Vue({
			el: "#<%= pid %>new-institution-modal",
			name: "<%= pid %>NewInstitutionModal",
			mounted(){
				createModalListeners();
			},
		});
	});
</script>
<%= render "layouts/vue_language_form_group" %>