<%= form_with(model: text) do |form| %>
  <% if text.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
        <% text.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :parent_id, style: "display: block" %>
    <%= form.text_field :parent_id %>
  </div>

  <div>
    <%= form.label :apocryphon_id, style: "display: block" %>
    <%= form.text_field :apocryphon_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
