<%= form_with(model: text, id: 'text-form', class: "autosave") do |form| %>

<div class="row">
	<%= form.hidden_field :content_id%>
	<div class="form-group col-md-5 mb-2">
		<!-- this needs to include to, from, and folios type -->
		<%= form.label "Location of #{text.find_manuscript.is_folios ? "folios" : "pages"} of the text", style: "display: block" %>
		<div class="d-flex align-items-baseline">
			<div class="input-group">
				<span class="input-group-text bg-white"><%= text.find_manuscript.is_folios ? 'f' : 'p' %>.</span>
				<%= form.text_field :text_pages_folios_from, class: "form-control border-start-0" %>
			</div>
			<span class="mx-2">to</span>
			<div class="input-group">
				<span class="input-group-text bg-white"><%= text.find_manuscript.is_folios ? 'f' : 'p' %>.</span>
				<%= form.text_field :text_pages_folios_to, class: "form-control border-start-0" %>
			</div>
		</div>
	</div>
	<%= fields_for(@language_references) do |lr| %>
		<div class="form-group col-md-5 mb-2">
			<%= lr.label :id, "Languages in manuscript", style: "display: block" %>
			<%= lr.collection_select :id, @languages, "id", "language_name", {selected: text.languages.map(&:id)}, {class: "form-control", multiple: true} %>
		</div>
	<% end %>
	<div class="form-group col-10 mb-2">
		<%= form.label :decoration, style: "display: block" %>
		<%= form.text_field :decoration, class: "form-control" %>
	</div>

	<div class="row my-3">
		<div class="col col-lg-3" v-show="!add_title">
			<button type="button" class="btn btn-action w-100" @click="add_title = true">Add Title</button>
		</div>
		<div class="col col-lg-3" v-show="!add_colophon">
			<button type="button" class="btn btn-action w-100" @click="add_colophon = true">Add Colophon</button>
		</div>
	</div>


	<div class="row pt-4" v-show="add_title">
		<div class="col-1" style="border-right: 3px solid rgba(0,0,0,0.3)">
			<div class="sideway-title" style="transform: rotate(-90deg); transform-origin: bottom right;">Title</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="form-group col-md-6 mb-2">
					<!-- this needs to include to, from, and folios type -->
					<%= form.label "Location of #{text.find_manuscript.is_folios ? "folios" : "pages"} of the text", style: "display: block" %>
					<div class="d-flex align-items-baseline">
						<div class="input-group">
							<span class="input-group-text bg-white"><%= text.find_manuscript.is_folios ? 'f' : 'p' %>.</span>
							<%= form.text_field :title_pages_folios_from, class: "form-control border-start-0" %>
						</div>
						<span class="mx-2">to</span>
						<div class="input-group">
							<span class="input-group-text bg-white"><%= text.find_manuscript.is_folios ? 'f' : 'p' %>.</span>
							<%= form.text_field :title_pages_folios_to, class: "form-control border-start-0" %>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= form.label :manuscript_title_orig, style: "display: block" %>
					<%= form.text_field :manuscript_title_orig, class: "form-control" %>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= form.label :manuscript_title_orig_transliteration, style: "display: block" %>
					<%= form.text_field :manuscript_title_orig_transliteration, class: "form-control" %>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= form.label :manuscript_title_translation, style: "display: block" %>
					<%= form.text_field :manuscript_title_translation, class: "form-control" %>
				</div>
			</div>
		</div>
	</div>


	<div class="row pt-4" v-show="add_colophon">
		<div class="col-1" style="border-right: 3px solid rgba(0,0,0,0.3)">
			<div class="sideway-title" style="transform: rotate(-90deg); transform-origin: bottom right;">Colophon</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="form-group col-md-6 mb-2">
					<!-- this needs to include to, from, and folios type -->
					<%= form.label "Location of #{text.find_manuscript.is_folios ? "folios" : "pages"} of the text", style: "display: block" %>
					<div class="d-flex align-items-baseline">
						<div class="input-group">
							<span class="input-group-text bg-white"><%= text.find_manuscript.is_folios ? 'f' : 'p' %>.</span>
							<%= form.text_field :colophon_pages_folios_from, class: "form-control border-start-0" %>
						</div>
						<span class="mx-2">to</span>
						<div class="input-group">
							<span class="input-group-text bg-white"><%= text.find_manuscript.is_folios ? 'f' : 'p' %>.</span>
							<%= form.text_field :colophon_pages_folios_to, class: "form-control border-start-0" %>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= form.label :colophon_orig, style: "display: block" %>
					<%= form.text_field :colophon_orig, class: "form-control" %>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= form.label :colophon_transliteration, style: "display: block" %>
					<%= form.text_field :colophon_transliteration, class: "form-control" %>
				</div>
				<div class="form-group col-md-6 mb-2">
					<%= form.label :colophon_translation, style: "display: block" %>
					<%= form.text_field :colophon_translation, class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="block-section"style="position: relative;">
		
		
	</div>
	
	
</div>

<h2 id="research-notes">Research Notes</h2>
<div class="row">
	<div class="form-group col-4 mb-2">
		<%= form.label :version, "Version of text", style: "display: block" %>
		<%= form.text_field :version, class: "form-control" %>
	</div>
	<div class="form-group col-4 mb-2">
		<%= form.label :extent, "Extent of text", style: "display: block" %>
		<%= form.text_field :extent, class: "form-control" %>
	</div>
	<div class="form-group col-8 mb-2">
		<%= form.label :notes, style: "display: block" %>
		<%= form.text_area :notes, class: "form-control" %>
	</div>
</div>

<h2 id="credit">Credit & correspondance</h2>
<div class="row">
	<div class="form-group col-4 mb-2">
		<%= form.label :transcriber_id, "Transcribed by", style: "display: block" %>
		<%= form.collection_select :transcriber_id, Person.all, :id, :full_name, {selected: text.transcriber_id, include_blank: true}, {class: "form-control", placeholder: "Select a transcriber"} %>
	</div>
</div>

<div class="fixed-bottom text-end pb-3 pe-3" style="z-index: 0">
	<%= form.submit "Save now", class: "btn btn-action px-5"%>
</div>
<% end %>

<script type="text/javascript">
	let textVue;
	$(document).ready(function(){
		textVue = new Vue({
			name: 'textVue',
			el: '#text-form',
			data: {
				add_title: false,
				add_colophon: false,
			},
			mounted(){

			},
		});
	});

	$(function() {
		new TomSelect("#text_transcriber_id",{
			sortField: {
				field: "text",
				direction: "asc"
			},
			maxItems: 1,
		});

		new TomSelect("#language_reference_id",{
			sortField: {
				field: "text",
				direction: "asc"
			},
			maxItems: 1,
		});
	});
</script>
