<div id="<%= dom_id text %>">
  <p>
    <strong>Content:</strong>
    <%= text.content_id %>
  </p>

  <p>
    <strong>Text pages folios:</strong>
    <%= text.text_pages_folios %>
  </p>

  <p>
    <strong>Decoration:</strong>
    <%= text.decoration %>
  </p>

  <p>
    <strong>Title folios pages:</strong>
    <%= text.title_folios_pages %>
  </p>

  <p>
    <strong>Manuscript title orig:</strong>
    <%= text.manuscript_title_orig %>
  </p>

  <p>
    <strong>Manuscript title orig transliteration:</strong>
    <%= text.manuscript_title_orig_transliteration %>
  </p>

  <p>
    <strong>Manuscript title translation:</strong>
    <%= text.manuscript_title_translation %>
  </p>

  <p>
    <strong>Pages folios colophon:</strong>
    <%= text.pages_folios_colophon %>
  </p>

  <p>
    <strong>Colophon orig:</strong>
    <%= text.colophon_orig %>
  </p>

  <p>
    <strong>Colophon transliteration:</strong>
    <%= text.colophon_transliteration %>
  </p>

  <p>
    <strong>Colophon translation:</strong>
    <%= text.colophon_translation %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= text.notes %>
  </p>

  <p>
    <strong>Transcriber:</strong>
    <%= text.transcriber_id %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= text.version %>
  </p>

  <p>
    <strong>Extent:</strong>
    <%= text.extent %>
  </p>

</div>
