<th scope="row"  id="<%= dom_id text %>"><%= text.id %></th>
<td><%= text.apocryphon_id %></td>
<td><%= text.parent.class if text.parent.present? %></td>
<td><%= text.parent.id if text.parent.present? %></td>