<div class="breadcrumbs">
  <%= link_to "Home", editor_menu_path %>
  <i class="far fa-chevron-right"></i>
  <!-- if accessed through manuscript with booklet -->
  <% if @text.content.parent.class == Booklet && @text.content.parent.manuscript.present? && @text.find_manuscript.present? && current_page?(edit_manuscript_booklet_content_text_path(@text.find_manuscript, @text.content.booklet, @text.content, @text)) %>
    <%= link_to 'Manuscripts', manuscripts_path %>
    <i class="far fa-chevron-right"></i>
    <%= link_to @text.find_manuscript.display_name, edit_manuscript_path(@text.find_manuscript) %>
    <i class="far fa-chevron-right"></i>
    <%= link_to @text.content.booklet.display_name, edit_manuscript_booklet_path(@text.find_manuscript, @text.content.booklet) %>
    <i class="far fa-chevron-right"></i>
    <%= @text.content.display_name %>
  <!-- else if accessed through booklet without manuscript -->
  <% elsif @text.content.booklet.present? && current_page?(edit_booklet_content_text_path(@text.content.booklet, @text.content, @text)) %>
    <%= link_to 'Booklets', booklets_path %>
    <i class="far fa-chevron-right"></i>
    <%= link_to @text.content.booklet.display_name, edit_booklet_path(@text.content.booklet) %>
    <i class="far fa-chevron-right"></i>
    <%= @text.content.display_name %>
  <!-- else accessed through manuscript without booklet -->
  <% elsif @text.content.manuscript.present? && current_page?(edit_manuscript_content_text_path(@text.find_manuscript, @text.content, @text)) %>
    <%= link_to 'Manuscripts', manuscripts_path %>
    <i class="far fa-chevron-right"></i>
    <%= link_to @text.find_manuscript.display_name, edit_manuscript_path(@text.find_manuscript) %>
    <i class="far fa-chevron-right"></i>
    <%= @text.content.display_name %>
  <!-- else accessed through texts grid -->
  <% else %>
    <%= link_to 'Texts', texts_path %>
    <i class="far fa-chevron-right"></i>
    <%= @text.content.display_name %>
  <% end %>
</div>


<div class="row mt-2">
  <div class="col-md-4 col-lg-3">
    <%= render 'layouts/filetree', tree: @text.content.parent.class == Booklet && @text.content.parent.manuscript.blank? ? booklet_family_tree(@text.content.booklet) : manuscript_family_tree(@text.find_manuscript) %>
  </div>
  <div class="col-md-8 col-lg-9">
    <h1 class="d-none" id="page-title"><%= @text.content.display_name %></h1>
    <%= render "form", text: @text %>
  </div>
</div>