<p style="color: green"><%= notice %></p>

<h1>Texts</h1>

<div id="texts">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Apocryphon ID</th>
        <th scope="col">Parent Type</th>
        <th scope="col">Parent ID</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @texts.each do |text| %>
        <tr>
          <%= render text %>
          <td class="actions">
            <%= link_to "Show this text", text, class: 'btn btn-primary me-2'%>
            <%= button_to "+ Add section", sections_path, class: 'btn btn-success me-2', params: { section: { text_id: text.id } }%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New text", new_text_path %>
