<div class="modal fade" id="title-modal" tabindex="-1" aria-hidden="true">
	<%= form_with(model: title, url: (title.new_record? ? titles_path : title_path(title)), class: 'autosave') do |form| %>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<%= form.hidden_field :apocryphon_id, value: @apocryphon.id %>
				<%= form.label "Language", class: "fw-bolder" %>
				<%= select_tag("title[language_id]", options_for_select([ ['English', english_id ] , ['Latin', latin_id ]]), class: "form-control") %>

				<%= form.label "Title", class: "fw-bolder mt-2" %>
				<%= form.text_field :title_orig, class: "form-control" %>

			</div>
			<div class="modal-footer">
				<%= form.submit "Save & Close", class: "btn btn-action", onclick: "timeoutReload()" %>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	new TomSelect("#title_language_id",{ sortField: {field: "text", direction: "asc"}, maxItems: 1});
</script>