<div class="modal" id="<%= pid %>title-modal" tabindex="-1" aria-hidden="true">
	<%= form_with(model: title, url: (title.new_record? ? titles_path : title_path(title))) do |form| %>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<% if @apocryphon.present? %>
					<%= form.hidden_field :apocryphon_id, value: @apocryphon.id %>
					<input type="hidden" name="old_path" value="<%= params[:old_path] %>">
				<% end %>
				<%= form.label "Language", class: "fw-bolder" %>
				<%= select_tag("title[language_id]", options_for_select([ ['English', english_id ] , ['Latin', latin_id ]]), class: "form-control") %>

				<%= form.label "Title", class: "fw-bolder mt-2" %>
				<%= form.text_field :title_orig, class: "form-control" %>

				<div class="form-check mt-2">
					<%= form.check_box :italicized, class: 'form-check-input' %>
					<%= form.label "Italicized?", class: "form-check-label" %>
				</div>

				<% if @apocryphon.present? %>
					<%= form.label "Apocryphon title type", class: "fw-bolder mt-2 d-block" %>
					<%= form.radio_button "is_standard", true, checked: @apocryphon.main_english_title_id.blank? || @apocryphon.main_latin_title_id.blank? %>
					<%= form.label "is_standard", "Standard title", value: true %>
					<%= form.radio_button "is_standard", false, checked: @apocryphon.main_english_title_id.present? && @apocryphon.main_latin_title_id.present? %>
					<%= form.label "is_standard", "Other title", value: false %>
				<% end %>
			</div>
			<% if parent.class == Content %>
				<%= hidden_field_tag :content_id, parent.id, class: "content-field" %>
			<% end %>
			<div class="modal-footer">
				<% unless parent.class == Content %>
					<%= form.submit "Save & Close", class: "btn btn-action", onclick: "timeoutReload()" %>
				<% else %>
					<%= form.submit "Save & Close", class: "btn btn-action px-4", onclick: ("timeoutReload(" + (parent.class.to_s == "Content" ? "'#addContentModal' + $('##{pid}title-modal .content-field').val()" : "") + ")") %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>	
</div>

<script type="text/javascript">
	new TomSelect("#<%= pid %>title-modal #title_language_id",{ sortField: {field: "text", direction: "asc"}, maxItems: 1, maxOptions: null,});
</script>