<div id="modern-source-form">
<%= form_with(model: modern_source, class: "autosave #{ 'block-submit' if params[:old_path].present?}") do |form| %>
<div class="row">
	<div class="form-group col-md-4 mb-2">
		<%= form.label :source_type, "Type of bibliographic item", style: "display: block" %>
		<%= form.select :source_type, options_for_select(%w(book book_chapter journal_article unpublished_document web_page handwritten_document).map{ |i| [ i.humanize, i ]}, modern_source.source_type), {include_blank: true}, {class: "form-control", placeholder: "Select one of new bibliographic item", "v-model": "source_type"} %>
	</div>
</div>

<div v-show="source_type != ''">
	<div class="row">
		<div class="col-md-6 mb-2">
			<div class="row">
				<div class="form-group col-md-12" v-show="source_type == 'book'">
					<%= form.hidden_field :author_type, "v-model": "author_type" %>
					<div class="d-flex">
						<%= form.label :author_type, "Type of author:", style: "display: block", class: "me-3" %>
						<span @click="author_type = 'regular'" class="pointer">
							<i class="far" style="color: var(--orange)" :class="author_type == 'regular' ? 'fa-dot-circle' : 'fa-circle'"></i>
							<label>Regular</label>
						</span>
						<span @click="author_type = 'corporate'" class="pointer ms-3">
							<i class="far" style="color: var(--orange)" :class="author_type == 'corporate' ? 'fa-dot-circle' : 'fa-circle'"></i>
							<label>Corporate</label>
						</span>
					</div>
				</div>
				<%= fields_for(:author_reference, @author_reference) do |ar| %>
					<div class="form-group col-md-12 mb-2" v-show="author_type == 'regular' || source_type != 'book'">
						<label style="display: block;">{{ source_type == 'book' ? "Regular author(s)" : "Author(s)" }}</label>
						<div class="d-flex">
							<select class="form-control" multiple="multiple" name="author_reference[id][]" id="author_reference_id" placeholder="Select author(s)">
								<% sort_hash_keys(@grouped_people, ['author', 'multiple_roles', 'no_role_assigned']).each do |group, people| %>
									<optgroup label="<%= group.humanize %>">
										<% people.each do |person| %>
											<option value="<%= person.id %>" <%= 'selected' if modern_source.authors.map(&:id).include?(person.id) %>><%= person.full_name %></option>
										<% end %>
									</optgroup>
								<% end %>
							</select>
							<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#person-modal-author">New</button>
						</div>
					</div>
				<% end %>
				<div class="form-group col-md-12 mb-2" v-show="author_type == 'corporate' && source_type == 'book'" v-if="source_type != 'handwritten_document'">
					<%= form.label :institution_id, "Corporate author(s)", style: "display: block" %>
					<div class="d-flex">
						<%= form.collection_select :institution_id, Institution.all, :id, :display_name, {include_blank: true}, {class: "form-control", placeholder: "Enter corporate author"} %>
						<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#modal-0-new-institution-modal">New</button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group mb-2" :class="source_type == 'journal_article' || source_type == 'book_chapter' || source_type == 'web_page' || source_type == 'unpublished_document' || source_type == 'handwritten_document' ? 'col-md-12' : 'col-md-12'" v-show="source_type == 'journal_article' || source_type == 'book_chapter' || source_type == 'web_page' || source_type == 'unpublished_document' || source_type == 'handwritten_document'">
			<label>{{ title_orig_label }}</label>
			<language-form-groups
				key="modern-souce-chapter-title"
				record_type="modern_source"
				name="Title"
				language_column="title_language_id"
				orig="title_orig"
				translit="title_transliteration"
				eng="title_translation"
				lang_val="<%= modern_source.title_language_id %>"
				orig_val="<%= modern_source.title_orig %>"
				translit_val="<%= modern_source.title_transliteration %>"
				eng_val="<%= modern_source.title_translation %>"
				record_class="ModernSource"
				record_id="<%= modern_source.id %>"
				v-if="source_type != 'web_page'"
			></language-form-groups>
			<%= form.text_field :title_orig, class: "form-control", "v-if": "source_type == 'web_page'" %>
		</div>

		<div class="form-group mb-2" :class="source_type == 'journal_article' || source_type == 'book_chapter' || source_type == 'web_page' ? 'col-md-12' : 'col-md-12'" v-show="source_type != 'unpublished_document' && source_type != 'handwritten_document'">
			<label>{{ source_type == 'journal_article' ? "Journal title" : (source_type == 'web_page' ? "Title of website" : "Book title") }}</label>
			<language-form-groups
				key="modern-souce-publication-title"
				record_type="modern_source"
				name="Title"
				language_column="publication_title_language_id"
				orig="publication_title_orig"
				translit="publication_title_transliteration"
				eng="publication_title_translation"
				lang_val="<%= modern_source.publication_title_language_id %>"
				orig_val="<%= modern_source.publication_title_orig %>"
				translit_val="<%= modern_source.publication_title_transliteration %>"
				eng_val="<%= modern_source.publication_title_translation %>"
				record_class="ModernSource"
				record_id="<%= modern_source.id %>"
				v-if="source_type != 'web_page'"
			></language-form-groups>
			<%= form.text_field :publication_title_orig, class: "form-control", "v-if": "source_type == 'web_page'" %>
		</div>

		<div class="col-md-6" v-show="!(source_type == 'book' || source_type == 'book_chapter' || source_type == 'journal_article' || source_type == 'web_page' || source_type == 'unpublished_document')"></div>

		<div class="col-md-6" v-show="source_type != 'web_page' && source_type != 'unpublished_document' && source_type != 'journal_article' && source_type != 'handwritten_document'">
			<div class="row">
				<%= fields_for :editor_reference, @editor_reference do |er| %>
					<div class="form-group col-md-12 mb-2">
						<%= er.label :id, "Editor(s)", style: "display: block" %>
						<div class="d-flex">
							<select class="form-control" multiple="multiple" name="editor_reference[id][]" id="editor_reference_id" placeholder="Select editor(s)">
								<% sort_hash_keys(@grouped_people, ['editor', 'multiple_roles', 'no_role_assigned']).each do |group, people| %>
									<optgroup label="<%= group.humanize %>">
										<% people.each do |person| %>
											<option value="<%= person.id %>" <%= 'selected' if modern_source.editors.map(&:id).include?(person.id) %>><%= person.full_name %></option>
										<% end %>
									</optgroup>
								<% end %>
							</select>
							<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#person-modal-editor">New</button>
						</div>
					</div>
				<% end %>
				<%= fields_for :translator_reference, @translator_reference do |tr| %>
					<div class="form-group col-md-12 mb-2">
						<%= tr.label :id, "Translator(s)", style: "display: block" %>
						<div class="d-flex">
							<select class="form-control" multiple="multiple" name="translator_reference[id][]" id="translator_reference_id" placeholder="Select translator(s)">
								<% sort_hash_keys(@grouped_people, ['translator', 'multiple_roles', 'no_role_assigned']).each do |group, people| %>
									<optgroup label="<%= group.humanize %>">
										<% people.each do |person| %>
											<option value="<%= person.id %>" <%= 'selected' if modern_source.translators.map(&:id).include?(person.id) %>><%= person.full_name %></option>
										<% end %>
									</optgroup>
								<% end %>
							</select>
							<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#person-modal-translator">New</button>
						</div>
					</div>
				<% end %>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="form-group col-md-3 mb-2" v-show="source_type != 'web_page' && source_type != 'unpublished_document' && source_type != 'journal_article' && source_type != 'handwritten_document'">
					<%= form.label :edition, style: "display: block" %>
					<%= form.select :edition, options_for_select(@editions, modern_source.edition), {include_blank: true}, {class: "form-control", placeholder: "Select or add"} %>
				</div>
				<div class="form-group col-md-2 offset-md-2 mb-2" v-show="source_type != 'journal_article' && source_type != 'unpublished_document' && source_type != 'book_chapter' && source_type != 'handwritten_document' && source_type != 'web_page'">
					<%= form.label :num_volumes, "No. of vols", style: "display: block" %>
					<%= form.text_field :num_volumes, class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="form-group col-md-2 mb-2" v-show="source_type != 'unpublished_document' && source_type != 'journal_article' && source_type != 'handwritten_document' && source_type != 'web_page'">
			<label style="display: block;">Volume no.</label>
			<%= form.text_field :volume_no, class: "form-control" %>
		</div>
		<div class="form-group col-md-10 mb-2" v-show="source_type != 'journal_article' && source_type != 'unpublished_document' && source_type != 'handwritten_document' && source_type != 'web_page'">
			<label>Volume title</label>
			<language-form-groups
				key="modern-souce-volume-title"
				record_type="modern_source"
				name="Title"
				language_column="volume_title_language_id"
				orig="volume_title_orig"
				translit="volume_title_transliteration"
				eng="volume_title_translation"
				lang_val="<%= modern_source.volume_title_language_id %>"
				orig_val="<%= modern_source.volume_title_orig %>"
				translit_val="<%= modern_source.volume_title_transliteration %>"
				eng_val="<%= modern_source.volume_title_translation %>"
				record_class="ModernSource"
				record_id="<%= modern_source.id %>"
			></language-form-groups>
		</div>

		<div class="form-group col-2 mb-2" v-show="source_type != 'journal_article' && source_type != 'unpublished_document' && source_type != 'handwritten_document' && source_type != 'web_page'">
			<%= form.label :part_no, "Part no.", style: "display: block" %>
			<%= form.text_field :part_no, class: "form-control" %>
		</div>
		<div class="form-group col-md-10  mb-2" v-show="source_type != 'journal_article' && source_type != 'unpublished_document' && source_type != 'handwritten_document' && source_type != 'web_page'">
			<label>Part title</label>
			<language-form-groups
				key="modern-souce-part-title"
				record_type="modern_source"
				name="Title"
				language_column="part_title_language_id"
				orig="part_title_orig"
				translit="part_title_transliteration"
				eng="part_title_translation"
				lang_val="<%= modern_source.part_title_language_id %>"
				orig_val="<%= modern_source.part_title_orig %>"
				translit_val="<%= modern_source.part_title_transliteration %>"
				eng_val="<%= modern_source.part_title_translation %>"
				record_class="ModernSource"
				record_id="<%= modern_source.id %>"
			></language-form-groups>
		</div>

		<div class="col-md-12">
			<div class="row">
				<div class="form-group col-md mb-2" v-show="source_type != 'unpublished_document' && source_type != 'handwritten_document' && source_type != 'web_page'">
					<label style="display: block;">{{ source_type == 'journal_article' ? "Journal series" : "Series title" }}</label>
					<language-form-groups
						key="modern-souce-series-title"
						record_type="modern_source"
						:name="source_type === 'journal_article' ? 'Series' : 'Title'"
						language_column="series_title_language_id"
						orig="series_title_orig"
						translit="series_title_transliteration"
						eng="series_title_translation"
						lang_val="<%= modern_source.series_title_language_id %>"
						orig_val="<%= modern_source.series_title_orig %>"
						translit_val="<%= modern_source.title_transliteration %>"
						eng_val="<%= modern_source.series_title_translation %>"
						record_class="ModernSource"
						record_id="<%= modern_source.id %>"
					></language-form-groups>
				</div>
				<div class="form-group col-2 mb-2" v-show="source_type != 'unpublished_document' && source_type != 'handwritten_document' && source_type != 'web_page'">
					<label style="display: block;">{{ source_type == 'journal_article' ? "Issue no." : "Series no." }}</label>
					<%= form.number_field :series_no, class: "form-control", max: Date.today.year %>
				</div>
				<div class="form-group col-md-2 mb-2" v-if="source_type == 'journal_article'">
					<label style="display: block;">Year</label>
					<%= form.number_field :publication_creation_date, class: "form-control", placeholder: "Year", max: Date.today.year %>
				</div>
				<div class="form-group col-md-2 mb-2" v-show="source_type == 'book_chapter' || source_type == 'journal_article' || source_type == 'handwritten_document'" v-if="source_type != 'handwritten_document' && source_type != 'web_page'">
					<label style="display: block;">{{ source_type == 'handwritten_document' ? "Folios" : (source_type == 'book_chapter' ? "Pages in book" : (source_type == 'journal_article' ? "Pages" : "Pages in publication")) }}</label>
					<%= form.text_field :pages_in_publication, class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12 mb-2" v-show="source_type == 'unpublished_document' && source_type != 'web_page'">
			<%= form.label :document_type, "Type of unpublished document", style: "display: block;" %>
			<%= form.select :document_type, options_for_select(@document_types, modern_source.document_type), {include_blank: true}, {class: "form-control", placeholder: "Select or add" } %>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="form-group col-md-2 mb-2" v-show="source_type != 'handwritten_document' && source_type != 'web_page' && source_type != 'unpublished_document' && source_type != 'journal_article' && source_type != 'web_page'">
					<label style="display: block;">Originally published</label>
					<%= form.number_field :original_publication_creation_date, class: "form-control", placeholder: "Year", max: Date.today.year %>
				</div>
				<div class="form-group col-md-4 mb-2" v-show="source_type != 'journal_article' && source_type != 'web_page' && source_type != 'unpublished_document' && source_type != 'web_page'">
					<label style="display: block;">{{ source_type == "handwritten_document" ? "Location" : "Place of publication" }}</label>
					<div class="d-flex">
						<%= form.collection_select :publication_location_id, Location.all, :id, :city_region_country, {selected: modern_source.publication_location_id, include_blank: true}, {class: "form-control", placeholder: "Place of publication"} %>
						<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#modal-location-modal">New</button>
					</div>
				</div>
				<div class="form-group col-md-4 mb-2" v-if="source_type == 'handwritten_document'">
					<%= form.label :institution_id, "Repository", style: "display: block" %>
					<div class="d-flex">
						<%= form.collection_select :institution_id, Institution.all, :id, :display_name, {include_blank: true}, {class: "form-control", placeholder: "Select institution"} %>
						<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#modal-0-new-institution-modal">New</button>
					</div>
				</div>
				<div class="form-group col-2 mb-2" v-show="source_type == 'handwritten_document' && source_type != 'web_page'">
					<%= form.label :shelfmark, style: "display: block" %>
					<%= form.text_field :shelfmark, class: "form-control", placeholder: "Shelfmark" %>
				</div>
				<div class="form-group col-md-2 mb-2" v-if="source_type == 'handwritten_document'">
					<label style="display: block;">Pages or folios</label>
					<%= form.text_field :pages_in_publication, class: "form-control", placeholder: "Pages or folios" %>
				</div>
				<div class="form-group col-md-4 mb-2" v-show="source_type != 'journal_article' && source_type != 'unpublished_document' && source_type != 'handwritten_document'">
					<%= form.label :publisher, style: "display: block" %>
					<%= form.select :publisher, options_for_select(@publishers, modern_source.publisher), {include_blank: true}, {class: "form-control", placeholder: "Publisher"} %>
				</div>
				<div class="form-group col-md-2 mb-2" v-show="source_type != 'handwritten_document'" v-if="source_type != 'journal_article'">
				<label style="display: block;">{{ source_type == 'web_page' ? "Last modified" : "Year" }}</label>
					<%= form.number_field :publication_creation_date, class: "form-control", ":placeholder": "source_type == 'web_page' ? 'Date' : 'Year'", max: Date.today.year %>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="form-group col-md-2 mb-2 d-none">
							<%= form.label :date_accessed, "Accessed" %>
							<%= form.text_field :date_accessed, class: "form-control", placeholder: "Date accessed" %>
						</div>
						<div class="form-group col-md mb-2">
							<div id="urls">
								<div v-for="(source, index) in sources" class="row mb-2">
									<div class="col-4">
										<label style="display: block;">Accessed</label>
										<input type="text" name="source_urls[urls][][date_accessed]" class="form-control accessed-field" v-model="source.accessed" placeholder="Date accessed">			
									</div>
									<div class="col">
										<label style="display: block;">URL</label>
										<input type="text" name="source_urls[urls][][url]" class="form-control me-2" v-model="source.url" placeholder="URL">	
									</div>
									<div class="col-1">
										<label class="w-100"></label>
										<button type="button" v-show="index == sources.length-1" class="btn btn-outline-action" @click="sources.push({url: '', accessed: ''})">New</button>	
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-md-3 mb-2" v-show="source_type != 'web_page' && source_type != 'unpublished_document' && source_type != 'handwritten_document'">
							<%= form.label :DOI, "doi", style: "display: block" %>
							<%= form.text_field :DOI, class: "form-control", placeholder: "doi" %>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<%= render 'layouts/save_now', form: form %>
	<% end %>
	</div>

</div>

<%= render 'people/modals/form', person: Person.new, parent: modern_source, reference_type: 'author', pid: '', depth: 0 %>
<%= render 'people/modals/form', person: Person.new, parent: modern_source, reference_type: 'editor', pid: '', depth: 0 %>
<%= render 'people/modals/form', person: Person.new, parent: modern_source, reference_type: 'translator', pid: '', depth: 0 %>
<%= render 'locations/modals/form', location: Location.new, parent: modern_source, pid: '', depth: 0 %>
<%= render 'institutions/modals/new', institution: Institution.new, parent: modern_source, pid: '', depth: 0 %>

<!-- Scripts -->
<%= render "modern_sources/scripts", modern_source: modern_source %>
<%= render "layouts/vue_language_form_group" %>
