<div id="modern_sources_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false},//cellRenderer: 'agGroupCellRenderer'
        { headerName: "Publication title orig", field: "publication_title_orig"},
        { headerName: "Publication title transliteration", field: "publication_title_transliteration"},
        { headerName: "Publication title translation", field: "publication_title_translation"},
        { headerName: "Title orig", field: "title_orig"},
        { headerName: "Title transliteration", field: "title_transliteration", hide: true},
        { headerName: "Title translation", field: "title_translation", hide: true},
        { headerName: "Source type", field: "source_type", hide: true},
        { headerName: "Num volumes", field: "num_volumes", hide: true},
        { headerName: "Volume no", field: "volume_no", hide: true},
        { headerName: "Volume title orig", field: "volume_title_orig", hide: true},
        { headerName: "Volume title transliteration", field: "volume_title_transliteration", hide: true},
        { headerName: "Volume title translation", field: "volume_title_translation", hide: true},
        { headerName: "Part no", field: "part_no", hide: true},
        { headerName: "Part title orig", field: "part_title_orig", hide: true},
        { headerName: "Part title transliteration", field: "part_title_transliteration", hide: true},
        { headerName: "Part title translation", field: "part_title_translation", hide: true},
        { headerName: "Series no", field: "series_no", hide: true},
        { headerName: "Series title orig", field: "series_title_orig", hide: true},
        { headerName: "Series title transliteration", field: "series_title_transliteration", hide: true},
        { headerName: "Series title translation", field: "series_title_translation", hide: true},
        { headerName: "Edition", field: "edition", hide: true},
        { headerName: "Publication location", field: "publication_location_id", hide: true},
        { headerName: "Publisher", field: "publisher"},
        { headerName: "Publication creation date", field: "publication_creation_date", hide: true},
        { headerName: "Shelfmark", field: "shelfmark", hide: true},
        { headerName: "Isbn", field: "ISBN", hide: true},
        { headerName: "Doi", field: "DOI", hide: true},
        { headerName: "Links", field: "links", editable: false, cellRenderer: function(links) {
      return "<a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>Edit</a>"
    } }
  ];

  const rowData = [
    <% modern_sources.each do |modern_source| %>
      { id:<%= modern_source.id %>,
        publication_title_orig: "<%= modern_source.publication_title_orig %>",publication_title_transliteration: "<%= modern_source.publication_title_transliteration %>",publication_title_translation: "<%= modern_source.publication_title_translation %>",title_orig: "<%= modern_source.title_orig %>",title_transliteration: "<%= modern_source.title_transliteration %>",title_translation: "<%= modern_source.title_translation %>",source_type: "<%= modern_source.source_type %>",num_volumes: "<%= modern_source.num_volumes %>",volume_no: "<%= modern_source.volume_no %>",volume_title_orig: "<%= modern_source.volume_title_orig %>",volume_title_transliteration: "<%= modern_source.volume_title_transliteration %>",volume_title_translation: "<%= modern_source.volume_title_translation %>",part_no: "<%= modern_source.part_no %>",part_title_orig: "<%= modern_source.part_title_orig %>",part_title_transliteration: "<%= modern_source.part_title_transliteration %>",part_title_translation: "<%= modern_source.part_title_translation %>",series_no: "<%= modern_source.series_no %>",series_title_orig: "<%= modern_source.series_title_orig %>",series_title_transliteration: "<%= modern_source.series_title_transliteration %>",series_title_translation: "<%= modern_source.series_title_translation %>",edition: "<%= modern_source.edition %>",publication_location_id: "<%= modern_source.publication_location_id %>",publisher: "<%= modern_source.publisher %>",publication_creation_date: "<%= modern_source.publication_creation_date %>",shelfmark: "<%= modern_source.shelfmark %>",ISBN: "<%= modern_source.ISBN %>",DOI: "<%= modern_source.DOI %>",
        links: { show: "<%= modern_source_path(modern_source) %>", edit: "<%= edit_modern_source_path(modern_source) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
    sideBar: 'columns',
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.modern_source = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/modern_sources/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#modern_sources_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
