<div id="<%= dom_id modern_source %>">
  <p>
    <strong>Publication title orig:</strong>
    <%= modern_source.publication_title_orig %>
  </p>

  <p>
    <strong>Publication title transliteration:</strong>
    <%= modern_source.publication_title_transliteration %>
  </p>

  <p>
    <strong>Publication title translation:</strong>
    <%= modern_source.publication_title_translation %>
  </p>

  <p>
    <strong>Title orig:</strong>
    <%= modern_source.title_orig %>
  </p>

  <p>
    <strong>Title transliteration:</strong>
    <%= modern_source.title_transliteration %>
  </p>

  <p>
    <strong>Title translation:</strong>
    <%= modern_source.title_translation %>
  </p>

  <p>
    <strong>Source type:</strong>
    <%= modern_source.source_type %>
  </p>

  <p>
    <strong>Num volumes:</strong>
    <%= modern_source.num_volumes %>
  </p>

  <p>
    <strong>Volume no:</strong>
    <%= modern_source.volume_no %>
  </p>

  <p>
    <strong>Volume title orig:</strong>
    <%= modern_source.volume_title_orig %>
  </p>

  <p>
    <strong>Volume title transliteration:</strong>
    <%= modern_source.volume_title_transliteration %>
  </p>

  <p>
    <strong>Volume title translation:</strong>
    <%= modern_source.volume_title_translation %>
  </p>

  <p>
    <strong>Part no:</strong>
    <%= modern_source.part_no %>
  </p>

  <p>
    <strong>Part title orig:</strong>
    <%= modern_source.part_title_orig %>
  </p>

  <p>
    <strong>Part title transliteration:</strong>
    <%= modern_source.part_title_transliteration %>
  </p>

  <p>
    <strong>Part title translation:</strong>
    <%= modern_source.part_title_translation %>
  </p>

  <p>
    <strong>Series no:</strong>
    <%= modern_source.series_no %>
  </p>

  <p>
    <strong>Series title orig:</strong>
    <%= modern_source.series_title_orig %>
  </p>

  <p>
    <strong>Series title transliteration:</strong>
    <%= modern_source.series_title_transliteration %>
  </p>

  <p>
    <strong>Series title translation:</strong>
    <%= modern_source.series_title_translation %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= modern_source.edition %>
  </p>

  <p>
    <strong>Publication location:</strong>
    <%= modern_source.publication_location_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= modern_source.publisher %>
  </p>

  <p>
    <strong>Publication creation date:</strong>
    <%= modern_source.publication_creation_date %>
  </p>

  <p>
    <strong>Shelfmark:</strong>
    <%= modern_source.shelfmark %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= modern_source.ISBN %>
  </p>

  <p>
    <strong>Doi:</strong>
    <%= modern_source.DOI %>
  </p>

</div>
