<div id="manuscript-form">
<%= form_with(model: manuscript, class: "autosave block-submit") do |form| %>

<div class="row">
	<div class="form-group col-md-3 mb-2">
		<%= form.label :census_no, style: "display: block" %>
		<%= form.text_field :census_no, class: "form-control" %>
	</div>
	<div class="form-group col-md-3 mb-2">
		<%= form.label :status, style: "display: block" %>
		<%= form.select :status, options_for_select(%w(extant lost destroyed), manuscript.status), {include_blank: true}, {class: "form-control", placeholder: "Select"} %>
	</div>
	<div class="form-group col-md-12 mb-2">
		<%= form.label :institution_id, "Repository", style: "display: block" %>
		<div class="d-flex">
			<%= form.collection_select :institution_id, Institution.all, :id, :long_display_name, {selected: manuscript.institution_id, include_blank: true}, {class: "form-control", placeholder: "Select a repository"} %>
			<button type="button" class="btn btn-outline-action ms-4" data-bs-toggle="modal" data-bs-target="#modal-0-new-institution-modal">New</button>
		</div>
	</div>
	<div class="form-group col-md-6 mb-2">
		<%= form.label :shelfmark, style: "display: block" %>
		<%= form.text_field :shelfmark, class: "form-control" %>
	</div>
	<div class="form-group col-md-6 mb-2">
		<%= form.label :old_shelfmark, "Old shelfmarks", style: "display: block" %>
		<%= form.text_field :old_shelfmark, class: "form-control" %>
	</div>
</div>

<h2>Description</h2>
<div class="row">
	<div class="form-group col-md-3 mb-2">
		<%= form.label :material, style: "display: block" %>
		<%= form.select :material, options_for_select(["paper", "parchment", "parchment and paper"]), {include_blank: true}, {class: "form-control", placeholder: "Select"} %>
	</div>
	<div class="form-group col-md-3 mb-2 d-flex align-items-start pt-4">
		<%= form.hidden_field :is_folios, "v-model": "is_folios" %>
		<span @click="is_folios = true" class="pointer">
			<i class="far fa-circle" style="color: var(--orange)" :class="is_folios ? 'fa-dot-circle' : 'fa-circle'"></i>
			<label>Foliated</label>
		</span>
		<span @click="is_folios = false" class="pointer ms-3">
			<i class="far fa-circle" style="color: var(--orange)" :class="is_folios ? 'fa-circle' : 'fa-dot-circle'"></i>
			<label>Paginated</label>
		</span>
	</div>
	<div class="form-group col-md-3 mb-2">
		<label for="manuscript_leaf_page_no" style="display: block;">No. of {{ is_folios ? 'folios' : 'pages' }}</label>
		<div class="input-group">
			<%= form.text_field :leaf_page_no, class: "form-control border-end-0"%>
			<span class="input-group-text bg-white">{{ is_folios ? 'ff.' : 'pp.' }}</span>
		</div>
	</div>
	<div class="form-group col-md-3 mb-2">
		<%= form.label :dimensions, style: "display: block" %>
		<%= form.text_field :dimensions, class: "form-control" %>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= form.label :date_from, "Date range of manuscript", style: "display: block" %>
		<div class="row">
			<div class="form-group col-md-5 mb-2">
				<%= form.text_field :date_from, class: "form-control" %>
			</div>
			<div class="col-md-1 mb-2">-</div>
			<div class="form-group col-md-5 mb-2">
				<%= form.text_field :date_to, class: "form-control" %>
			</div>
		</div>
	</div>
	<div class="col-md-6">another date field here? (to be discussed)</div>
</div>
<div class="row">
	<%= fields_for(@language_references) do |lr| %>
		<div class="form-group col-md-6 mb-2">
			<%= lr.label :id, "Languages in manuscript", style: "display: block" %>
			<%= lr.collection_select :id, @languages, "id", "language_name", {selected: manuscript.languages.map(&:id), include_blank: true}, {class: "form-control", multiple: true, placeholder: "Select or add…"} %>
		</div>
	<% end %>
	<div class="form-group col-md-6 mb-2">
		<%= form.label :content_type, "Type of content", style: "display: block" %>
		<%= form.select :content_type, options_for_select(@content_types, manuscript.content_type), {include_blank: true}, {class: "form-control", placeholder: "Select or add…"} %>
	</div>
	<div class="form-group col-md-6 mb-2">
		<%= form.label :notes, style: "display: block" %>
		<%= form.text_area :notes, class: "form-control" %>
	</div>				
</div>

<h2 id="booklets">Booklets <button type="button" class="btn btn-action" onclick="$('#add-booklet').click();" v-show="known_booklet_composition">Add booklet</button></h2>
<div id="booklets-list">
	<p>Booklet compositon is: 
		<%= form.hidden_field :known_booklet_composition, "v-model": "known_booklet_composition" %>		
		<span @click="known_booklet_composition = true" class="pointer ms-3">
			<i class="far" style="color: var(--orange)" :class="known_booklet_composition ? 'fa-dot-circle' : 'fa-circle'"></i>
			<label>Known</label>
		</span>
		<span @click="known_booklet_composition = false" class="pointer ms-3">
			<i class="far" style="color: var(--orange)" :class="known_booklet_composition ? 'fa-circle' : 'fa-dot-circle'"></i>
			<label>Unknown</label>
	</p>
	<div class="col grey-bubble py-3" v-if="!known_booklet_composition && !has_booklets">
		<p class="m-0">Booklet structure has not been determined for this manuscript.</p>
	</div>
	<div v-else id="booklets-list">
		<% manuscript.booklets.each_with_index do |booklet, index| %>
			<div class="card grey mb-2" id="<%= dom_id booklet %>">
				<div class="card-body d-flex align-items-center">
					<i class="fas fa-bars me-4 grab"></i>
					<span><%= booklet.display_name %></span>
					<%= link_to "Open", edit_manuscript_booklet_path(manuscript, booklet), class: "btn btn-outline-action ms-auto" %>
				</div>
			</div>
		<% end %>
	</div>
</div>


<%= render 'layouts/save_now', form: form %>
<% end %>

<template v-if="!known_booklet_composition || has_ownerships">
	<h2 id="manuscripts">Provenance of manuscript <%= link_to "Add provenance", '#manuscripts', class: "btn btn-action", data: { 'bs-toggle': "modal",  'bs-target': "#addProvenanceModal"} %></h2>
	<%= render 'ownerships/list', parent: manuscript %>
</template>

<template v-if="!known_booklet_composition || has_contents">
	<h2 id="contents">Contents of manuscript <%= link_to "Add content", '#contents', class: "btn btn-action", data: { 'bs-toggle': "modal",  'bs-target': "#addContentModal"} %></h2>
	<%= render 'contents/list', parent: manuscript %>
</template>

</div>

<!-- Additional forms -->
<%= button_to 'Add booklet', manuscript_booklets_path(manuscript), class: "btn btn-action d-none", id: "add-booklet", params: { booklet: { manuscript_id: manuscript.id, booklet_no: manuscript.booklets.count+1 }, in_manuscript: true } %>
<%= form_with(url: sort_booklets_path, method: 'PUT', remote: true, id: 'sort-booklet-form') do |f| %><% end %>
<%= form_with(url: sort_contents_path, method: 'PUT', remote: true, id: 'sort-content-form') do |f| %><% end %>

<!-- Modals -->
<% manuscript.ownerships.each do |ownership| %>
<%= render 'ownerships/modals/form', parent: manuscript, ownership: ownership, pid: '', depth: 0 %>
<%= render "/ownerships/modals/move_to_booklet", ownership: ownership %>
<% end %>
<%= render 'ownerships/modals/form', parent: manuscript, ownership: manuscript.ownerships.new, pid: '', depth: 0 %>
<% manuscript.contents.each do |content| %>
<%= render 'contents/modals/form', parent: manuscript, content: content %>
<%= render "/contents/modals/move_to_booklet", content: content %>
<% end %>
<%= render 'contents/modals/form', parent: manuscript, content: manuscript.contents.new %>
<%= render 'institutions/modals/new', institution: Institution.new, parent: manuscript, pid: '', depth: 0 %>

<% if manuscript.institution.present? %>
<%= render 'institutions/modals/new', institution: manuscript.institution, parent: manuscript, pid: "#{manuscript.institution.id}-", depth: 0 %>
<% end %>

<!-- Scripts -->
<%= render '/manuscripts/scripts', manuscript: manuscript %>
<%= render '/contents/list_script' %>
<%= render '/ownerships/list_script' %>
