<%= form_with(model: manuscript, id: "manuscript-form") do |form| %>
	<div class="row">
  	<div class="form-group col-md-2 mb-2">
		  <%= form.label :identifier, "Manuscript ID", style: "display: block" %>
	    <%= form.text_field :identifier, class: "form-control" %>
		</div>
  	<div class="form-group col-md-2 mb-2">
		  <%= form.label :census_no, style: "display: block" %>
	    <%= form.text_field :census_no, class: "form-control" %>
		</div>
  	<div class="form-group col-md-3 mb-2">
		  <%= form.label :status, style: "display: block" %>
	    <%= form.select :status, options_for_select(%w(extant lost destroyed)), {include_blank: true}, class: "form-control" %>
		</div>
		<div class="form-group col-md-12 mb-2">
		  <%= form.label :institution_id, "Repository", style: "display: block" %>
			<select id="institution-select" placeholder="Select a person..." autocomplete="off">
	      <option value="">Select a person...</option>
	      <% Institution.all.each do |i| %>
	        <option value="<%= i.id %>"><%= i.name_english %></option>
	      <% end %>
	    </select>
		</div>
  	<div class="form-group col-md-12 mb-2">
		    <%= form.label :shelfmark, style: "display: block" %>
	    <%= form.text_field :shelfmark, class: "form-control" %>
		</div>
  	<div class="form-group col-md-12 mb-2">
		    <%= form.label :old_shelfmark, "Old shelfmarks", style: "display: block" %>
	    <%= form.text_field :old_shelfmark, class: "form-control" %>
		</div>
	</div>

	<h2>Description</h2>
	<div class="row">
  	<div class="form-group col-md-6 mb-2">
	    <%= form.label :material, style: "display: block" %>
    	<%= form.select :material, options_for_select(["paper", "parchment", "parchment and paper"]), {include_blank: true}, class: "form-control" %>
		</div>
		<div class="form-group col-md-6 mb-2">
		    <%= form.label :content_type, style: "display: block" %>
	    <%= form.text_field :content_type, class: "form-control" %>
		</div>
		<div class="form-group col-md-6 mb-2">
			<!-- needs to be built the new way still!!! -->
		  <%= form.label :leaf_page_no, style: "display: block" %>
	    <%= form.text_field :leaf_page_no, class: "form-control" %>
		</div>
		<div class="form-group col-md-6 mb-2">
		  <%= form.label :notes, style: "display: block" %>
	    <%= form.text_area :notes, class: "form-control" %>
		</div>
		<!-- need to come back and fix the date range inputs! -->
		<div class="form-group col-md-3 mb-2">
		  <%= form.label :date_from, style: "display: block" %>
	    <%= form.text_field :date_from, class: "form-control" %>
		</div>
  	<div class="form-group col-md-3 mb-2">
		  <%= form.label :date_to, style: "display: block" %>
	    <%= form.text_field :date_to, class: "form-control" %>
		</div>
		<%= fields_for(@language_references) do |lr| %>
			<div class="form-group col-md-6 mb-2">
				<%= lr.label :id, "Languages in manuscript", style: "display: block" %>
				<%= lr.collection_select :id, @languages, "id", "language_name", {selected: @manuscript.languages.map(&:id)}, {class: "form-control", multiple: true} %>
			</div>
		<% end %>
		<div class="form-group col-md-6 mb-2">
		  <%= form.label :dimensions, style: "display: block" %>
	    <%= form.text_field :dimensions, class: "form-control" %>
		</div>
	</div>

	<h2>Booklets <%= link_to "Add booklet", new_booklet_path(manuscript: @manuscript), class: "btn btn-action" %></h2>
	<div class="row">
		<p>Booklet compositon is: <strong><%= @manuscript.booklets.any? ? 'Known' : 'Unknown' %></strong></p>
		<div class="col grey-bubble">
			<p>Booklet composition is unknown, to change this please click Add Booklet</p>
		</div>
	</div>

	<% if !@manuscript.booklets.any? %>
		<h2>Provenances of manuscript <%= link_to "Add provenance", '#', class: "btn btn-action", data: { 'bs-toggle': "modal",  'bs-target': "#addProvenanceModal"} %></h2>
		<div class="row">
			<% @manuscript.ownerships.each do |ownership| %>
			<div class="col grey-bubble">
				<p>Ownership details goes here : <%= ownership.id %></p>
			</div>
			<% end %>
		</div>

		<h2>Contents of manuscript <%= link_to "Add content", '#', class: "btn btn-action" %></h2>
		<div class="row">
			<% @manuscript.contents.each do |content| %>
			<div class="col grey-bubble">
				<p>Content details goes here : <%= content.id %></p>
			</div>
			<% end %>
		</div>
	<% end %>

  <div>
    <%= form.submit "Save now", class: "btn btn-action mt-2" %>
  </div>
  
<% end %>

<!-- Modals -->
<div class="modal fade" id="addProvenanceModal" tabindex="-1" aria-labelledby="addProvenanceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProvenanceModalLabel">Add Provenance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        form goes here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  new TomSelect("#institution-select",{
    create: true,
    sortField: {
      field: "text",
      direction: "asc"
    }
  });

  new TomSelect("#manuscript_status",{
    sortField: {
      field: "text",
      direction: "asc"
    }
  });

  new TomSelect("#manuscript_material",{
    sortField: {
      field: "text",
      direction: "asc"
    }
  });

  new TomSelect("#language_reference_id",{
    sortField: {
      field: "text",
      direction: "asc"
    },
    maxItems: null
  });
</script>
