<div id="manuscripts_grid" class="ag-theme-alpine" style="height: 75vh; width:100%;"></div>

<script type="text/javascript" charset="utf-8">

  const defaultColDef = {editable: true , sortable: true, filter: true,  resizable: true, flex: 1};

  const columnDefs = [
    { headerName: "Id", field: "id", editable: false, hide: true },//cellRenderer: 'agGroupCellRenderer'
        { headerName: "Identifier", field: "identifier" },
        { headerName: "Census no", field: "census_no", hide: true },
        { headerName: "Status", field: "status"},
        { headerName: "Institution", field: "institution_id", hide: true },
        { headerName: "Shelfmark", field: "shelfmark"},
        { headerName: "Old shelfmark", field: "old_shelfmark"},
        { headerName: "Material", field: "material", hide: true },
        { headerName: "Dimensions", field: "dimensions", hide: true },
        { headerName: "Leaf page no", field: "leaf_page_no", hide: true },
        { headerName: "Date from", field: "date_from", hide: true },
        { headerName: "Date to", field: "date_to", hide: true },
        { headerName: "Content type", field: "content_type"},
        { headerName: "Notes", field: "notes", hide: true },
        { headerName: "Links", field: "links", editable: false, suppressColumnsToolPanel: true, cellRenderer: function(links) {
      return "<a href='" + links.value.show + "' class='btn btn-outline-primary btn-sm me-1'>display</a><a href='" + links.value.edit + "' class='btn btn-outline-secondary btn-sm'>edit</a>"
    } }
  ];

  const rowData = [
    <% manuscripts.each do |manuscript| %>
      { id:<%= manuscript.id %>,
        identifier: "<%= manuscript.identifier %>",census_no: "<%= manuscript.census_no %>",status: "<%= manuscript.status %>",institution_id: "<%= manuscript.institution_id %>",shelfmark: "<%= manuscript.shelfmark %>",old_shelfmark: "<%= manuscript.old_shelfmark %>",material: "<%= manuscript.material %>",dimensions: "<%= manuscript.dimensions %>",leaf_page_no: "<%= manuscript.leaf_page_no %>",date_from: "<%= manuscript.date_from %>",date_to: "<%= manuscript.date_to %>",content_type: "<%= manuscript.content_type %>",notes: "<%= manuscript.notes %>",
        links: { show: "<%= manuscript_path(manuscript) %>", edit: "<%= edit_manuscript_path(manuscript) %>" }
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    defaultColDef: defaultColDef,
    rowData: rowData,
    onCellValueChanged: onCellValueChanged,
    sideBar: 'columns',
  };

  function onCellValueChanged(event){
    console.log('cell value changed ', event);
    saveChange(event.data.id, event.data);
  }

  function saveChange(id, data){
    var my_data = {};
    my_data.authenticity_token = "<%= form_authenticity_token %>";
    my_data.location = data;
    console.log('my_data', my_data);
    $.ajax({
      url: "/manuscripts/"+id,
      type: 'PUT',
      data: JSON.stringify(my_data),
      contentType: 'application/json',
      success: function(data) {
        console.log('result received:');
        console.log(data);
      }
    });
  };

  const eGridDiv = document.querySelector('#manuscripts_grid');
  new agGrid.Grid(eGridDiv, gridOptions);

</script>
