<div id="<%= dom_id manuscript %>">
  <p>
    <strong>Identifier:</strong>
    <%= manuscript.identifier %>
  </p>

  <p>
    <strong>Census no:</strong>
    <%= manuscript.census_no %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= manuscript.status %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= manuscript.institution_id %>
  </p>

  <p>
    <strong>Shelfmark:</strong>
    <%= manuscript.shelfmark %>
  </p>

  <p>
    <strong>Old shelfmark:</strong>
    <%= manuscript.old_shelfmark %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= manuscript.material %>
  </p>

  <p>
    <strong>Dimensions:</strong>
    <%= manuscript.dimensions %>
  </p>

  <p>
    <strong>Leaf page no:</strong>
    <%= manuscript.leaf_page_no %>
  </p>

  <p>
    <strong>Date from:</strong>
    <%= manuscript.date_from %>
  </p>

  <p>
    <strong>Date to:</strong>
    <%= manuscript.date_to %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= manuscript.content_type %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= manuscript.notes %>
  </p>

</div>
