<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  <%= link_to 'Manuscripts', manuscripts_path %>
  <i class="far fa-chevron-right"></i>
  <%= @manuscript.display_name %>
</div>

<h1>Manuscript</h1>

<%= render "form", manuscript: @manuscript %>

<br>

<div>
  <%= link_to "Show this manuscript", @manuscript %> |
  <%= link_to "Back to manuscripts", manuscripts_path %>
</div>
