<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  <%= link_to 'Manuscripts', manuscripts_path %>
  <i class="far fa-chevron-right"></i>
  <%= @manuscript.display_name %>
</div>

<div class="d-flex mt-2">
  <div style="width: 500px" class="me-5">
    <%= render 'layouts/filetree', tree: manuscript_family_tree(@manuscript) %>
  </div>
  <div>
    <h1>Manuscript</h1>
    <%= render "form", manuscript: @manuscript %>
  </div>
</div>
