

<%= form_with(model: source_url) do |form| %>
  <% if source_url.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(source_url.errors.count, "error") %> prohibited this source_url from being saved:</h2>

      <ul>
        <% source_url.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col-4 mb-2">
		    <%= form.label :modern_source_id, style: "display: block" %>
	    <%= form.text_field :modern_source_id, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :url, style: "display: block" %>
	    <%= form.text_field :url, class: "form-control" %>
		</div>
</div>
  <div>
    <%= form.submit "Submit", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
	