<p style="color: green"><%= notice %></p>

<%= render @source_url %>

<div>
  <%= link_to "Edit this source url", edit_source_url_path(@source_url) %> |
  <%= link_to "Back to source urls", source_urls_path %>

  <%= button_to "Destroy this source url", @source_url, method: :delete %>
</div>
