<div class="modal" id="addProvenanceModal<%= ownership.try(:id) %>" tabindex="-1" aria-hidden="true" data-depth="0">
	<%= form_with(model: ownership, class: "#{'autosave' unless ownership.new_record?}") do |form| %>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><%= ownership.id.present? ? 'Edit' : 'Add' %> Provenance</h5>
				<button type="button" class="btn btn-outline-action" data-bs-dismiss="modal" aria-label="close" :disabled="sub_modal_open">Cancel</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-12 mb-2">
						<%= form.label :date_to, "Date range", style: "display: block;" %>
						<div class="d-flex align-items-baseline">
							<%= form.text_field :date_to, class: "form-control" %>
							<i class="far fa-minus m-2"></i>
							<%= form.text_field :date_from, class: "form-control" %>
						</div>
					</div>
					<div class="form-group col-md-12 mb-2">
						<%= form.hidden_field :date_exact, "v-model": "date_exact" %>
						<label>
							Specific date (<span @click="date_exact = true" class="pointer">exact
								<i class="far" style="color: var(--orange)" :class="date_exact ? 'fa-dot-circle' : 'fa-circle'"></i>
							</span>
							or<span @click="date_exact = false" class="pointer">
								approximate
								<i class="far" style="color: var(--orange)" :class="date_exact ? 'fa-circle' : 'fa-dot-circle'"></i>
							</span>
							)
						</label>
						<div class="input-group">
							<span class="input-group-text bg-white" v-if="!date_exact">ca.</span>
							<%= form.number_field :specific_date, max: Date.today.year, class: "form-control", ":class": "{ 'border-start-0' : !date_exact }" %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-12 mb-2">
						<%= form.label :person_id, "Person (owner)", style: "display: block" %>
						<div class="d-flex">
							<%= form.collection_select :person_id, Person.all, :id, :full_name, {selected: ownership.person_id, include_blank: true}, {class: "form-control", placeholder: "Select a person"} %>
							<button type="button" id="ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-new-person-btn" class="btn btn-outline-action ms-4" @click="openSubModal('#ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-new-person-btn', '#ownership-person-modal')" data-backdrop="static" data-keyboard="false">New</button>
						</div>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :institution_id, "Institution", style: "display: block" %>
						<div class="d-flex">
							<%= form.collection_select :institution_id, Institution.all, :id, :long_display_name, {selected: ownership.institution_id, include_blank: true}, {class: "form-control", placeholder: "Select an institution"} %>
							<button type="button" id="ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-new-institution-btn" class="btn btn-outline-action ms-4" @click="openSubModal('#ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-new-institution-btn', '#modal-ownership-<%= (ownership.id.to_s + '-') if ownership.id.present? %>1-new-institution-modal')" data-backdrop="static" data-keyboard="false">New</button>
						</div>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :religious_order_id, "Religious Order", style: "display: block" %>
						<div class="d-flex">
							<%= form.collection_select :religious_order_id, ReligiousOrder.all, :id, :order_name, {selected: ownership.religious_order_id, include_blank: true}, {class: "form-control", placeholder: "Select a religious order"} %>
							<button type="button" id="ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-new-religious-order-btn" class="btn btn-outline-action ms-4" @click="openSubModal('#ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-new-religious-order-btn', '#ownership-new-religious-order-modal')" data-backdrop="static" data-keyboard="false">New</button>
						</div>
					</div>
					<div class="form-group col-12 mb-2">
						<%= form.label :location_id, "Location", style: "display: block" %>
						<div class="d-flex">
							<%= form.collection_select :location_id, Location.all, :id, :city_region_country, {selected: ownership.location_id, include_blank: true}, {class: "form-control", placeholder: "Select a location"} %>
							<button type="button" id="ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-location-btn" class="btn btn-outline-action ms-4" @click="openSubModal('#ownership<%= ('-' + ownership.id.to_s) if ownership.id.present? %>-location-btn', '#modal-ownership-location-modal')" data-backdrop="static" data-keyboard="false">New</button>
						</div>
					</div>
					
					<div class="form-group col-12 mb-2">
						<%= form.label :provenance_notes, "Notes on provenance", style: "display: block" %>
						<%= form.text_area :provenance_notes, class: "form-control" %>
					</div>
					<%= form.hidden_field parent.class == Manuscript ? :manuscript_id : :booklet_id %>
				</div>

			</div>
			<div class="modal-footer">
				 <%= form.submit "Save & Close", class: "btn btn-action", onclick: "timeoutReload()", ":disabled": "sub_modal_open" %>
			</div>
		</div> 
	</div>
	<% end %>
</div>

<%= render 'people/modals/form', person: Person.new, parent: ownership, pid: "ownership-#{ (ownership.id.to_s + '-') if ownership.id.present? }", depth: 1 %>
<%= render 'institutions/modals/new', institution: Institution.new, parent: ownership, pid: "ownership-#{ (ownership.id.to_s + '-') if ownership.id.present? }", depth: 1 %>
<%= render 'religious_orders/modals/new', religious_order: ReligiousOrder.new, parent: ownership, pid: "ownership-#{ (ownership.id.to_s + '-') if ownership.id.present? }", depth: 1 %>
<%= render 'locations/modals/form', location: Location.new, parent: ownership, pid: "ownership-#{ (ownership.id.to_s + '-') if ownership.id.present? }", depth: 1 %>


<script type="text/javascript">

	$( document ).ready(function() {
		ownership_modal = new Vue({
			el: "#addProvenanceModal<%= ownership.try(:id) %>",
			name: "ProvenanceModal<%= ownership.try(:id) %>",
			data: {
				sub_modal_open: false,
				date_exact: <%= ownership.date_exact ? "false" : "true" %>,
			},
			watch: {
			},
			methods: {
				openSubModal(button_selector, selector){
					saveForm($(button_selector).closest('form'), $(selector + ' .ownership-field'));
					$(selector).modal('show');
					$('.modal').on('hidden.bs.modal', function() {
						this.sub_modal_open = false;
					}.bind(this));
					this.sub_modal_open = true;
				}
			},
			computed: {
			},
			mounted(){
				new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_person_id", ts_sort_text_asc_max_1);
				new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_religious_order_id", ts_sort_text_asc_max_1);
				new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_institution_id", ts_sort_text_asc_max_1);
				new TomSelect("#addProvenanceModal<%= ownership.id %> #ownership_location_id", ts_sort_text_asc_max_1);
				createModalListeners();
			}
		});
	});
		
</script>
