

<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col-4 mb-2">
		    <%= form.label :country, style: "display: block" %>
	    <%= form.text_field :country, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :city_alt, style: "display: block" %>
	    <%= form.text_field :city_alt, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :city, style: "display: block" %>
	    <%= form.text_field :city, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :city_translilteration, style: "display: block" %>
	    <%= form.text_field :city_translilteration, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :region_alt, style: "display: block" %>
	    <%= form.text_field :region_alt, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :region, style: "display: block" %>
	    <%= form.text_field :region, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :region_transliteration, style: "display: block" %>
	    <%= form.text_field :region_transliteration, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :diocese_alt, style: "display: block" %>
	    <%= form.text_field :diocese_alt, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :diocese, style: "display: block" %>
	    <%= form.text_field :diocese, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :diocese_transliteration, style: "display: block" %>
	    <%= form.text_field :diocese_transliteration, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :longitude, style: "display: block" %>
	    <%= form.number_field :longitude, class: "form-control" %>
		</div>
  <div class="form-group col-4 mb-2">
		    <%= form.label :latitude, style: "display: block" %>
	    <%= form.number_field :latitude, class: "form-control" %>
		</div>
</div>
  <div>
    <%= form.submit "Submit", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
	