<div id="<%= dom_id location %>">
  <p>
    <strong>Country:</strong>
    <%= location.country %>
  </p>

  <p>
    <strong>City english:</strong>
    <%= location.city_alt %>
  </p>

  <p>
    <strong>City orig:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>City translilteration:</strong>
    <%= location.city_translilteration %>
  </p>

  <p>
    <strong>Region english:</strong>
    <%= location.region_alt %>
  </p>

  <p>
    <strong>Region orig:</strong>
    <%= location.region %>
  </p>

  <p>
    <strong>Region transliteration:</strong>
    <%= location.region_transliteration %>
  </p>

  <p>
    <strong>Diocese english:</strong>
    <%= location.diocese_alt %>
  </p>

  <p>
    <strong>Diocese orig:</strong>
    <%= location.diocese %>
  </p>

  <p>
    <strong>Diocese transliteration:</strong>
    <%= location.diocese_transliteration %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

</div>
