<title>Izydorcyky Project</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<!-- font awesome - free version -->
<script src="https://kit.fontawesome.com/a940ec9c34.js" crossorigin="anonymous"></script>

<!-- jquery through google cdns -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- popper and bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">

<!-- VueJS -->
<% if Rails.env == 'production' %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<% else %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<% end %>

<!-- jquery ui through google cdns -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- recaptcha -->
<script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script> 

<!-- snackbar -->
<%= javascript_include_tag "js-snackbar" %>
<%= javascript_include_tag "Filter" %>
<%= javascript_include_tag "additional" %>

<!-- ag-grid -->
<script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">

<!-- Tom-Select.js.org -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.0/css/tom-select.bootstrap5.min.css" integrity="sha512-UJy/ItiveaheFLF2h77Suzq5Y31Pd51KxYMhyJqManLy2PxqA9ZdbszEPdUk3g/IQeQ/hzrtMIaM/PppFnuDEw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.0/js/tom-select.complete.js" integrity="sha512-NQk8YzGB9ij0KtPO4mj8FVmBD1/g89L55qDowKf2VEbIzgIboMnwa/P11/HtYVEOQ4PsJb3zC1GbbEeiQpte7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%= stylesheet_link_tag "application" %>
<%= javascript_importmap_tags %>
