<nav class="navbar navbar-expand-md">
  <div class="container-fluid px-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("apocrypharius-white-logo.png", height: 65, class:"my-2", alt: "Apocrypharius Logo" ) %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link #{ 'active' if current_page?(about_path) || current_page?(root_path) }" %>
        </li>
        <li class="nav-item">
          <%= link_to "How to Use", how_to_use_path, class: "nav-link #{ 'active' if current_page? how_to_use_path }" %>
        </li>
        <li class="nav-item">
          <%= link_to "Research", research_path, class: "nav-link #{ 'active' if (current_page?(sections_path) || current_page?(research_path) || current_page?(booklist_sections_path) || current_page?(apocrypha_path)) }" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link #{ 'active' if current_page? contact_path }" %>
        </li>
        <li class="d-none nav-item">
          <%= link_to "Contact", root_path, class: "nav-link #{ 'active' if current_page? about_path }" %>
        </li>
         <% if user_signed_in? %>
            <% if current_user.adm_editor? %>
              <li class="nav-item">
                <%= link_to "Editor menu", editor_menu_path, class: "nav-link #{ 'active' if current_page? editor_menu_path }" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link #{ 'active' if current_page? new_user_session_path }" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>