<!DOCTYPE html>
<html>
  <head>
    <%= render '/layouts/head' %>
  </head>

  <body>
    <%= render '/layouts/navbar' %>
    <main class="<%= 'container-fluid ms-0 my-2 px-3 mb-5' unless controller_name == 'application' %>">
      <%= yield %>
    </main>
    <% if Rails.env.staging? %>
      <div class="position-fixed bottom-0 left-0 right-0 alert alert-danger w-100 text-center">
        Note: This is the staging environment. All changes made will be deleted at 8pm CDT.
      </div>
    <% end %>
    <script type="text/javascript">
      <% if notice.present? %>
        window.SnackBar({message: "<%= notice %>"})
      <% end %>
      <% if alert.present? %>
        window.SnackBar({message: "<%= alert %>", status: 'error'})
      <% end %>
      $(".js-snackbar:has(> .js-snackbar--danger)").addClass('danger');
    </script>
  </body>
</html>
