<!DOCTYPE html>
<html>
  <head>
    <%= render '/layouts/head' %>
  </head>

  <body>
    <%= render '/layouts/navbar' %>
    <main class="container-xxl ms-0 my-2 px-3">
      <%= yield %>
    </main>
    <script type="text/javascript">
      <% if notice.present? %>
        window.SnackBar({message: "<%= notice %>"})
      <% end %>
      <% if alert.present? %>
        window.SnackBar({message: "<%= alert %>", status: 'error'})
      <% end %>
      $(".js-snackbar:has(> .js-snackbar--danger)").addClass('danger');
    </script>
  </body>
</html>
