<!DOCTYPE html>
<html>
  <head>
    <%= render '/layouts/head' %>
  </head>

  <body class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark position-fixed" style="width: 300px; min-height: 100vh; height: 100%;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <%= link_to "person_references", person_references_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "modern_source_references", modern_source_references_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "source_urls", source_urls_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "modern_sources", modern_sources_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "sections", sections_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "booklist_references", booklist_references_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "booklists", booklists_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "text_urls", text_urls_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "texts", texts_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "contents", contents_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "titles", titles_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "apocrypha", apocrypha_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ownerships", ownerships_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "people", people_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "booklets", booklets_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "manuscripts", manuscripts_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "language_references", language_references_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "institutional_affiliations", institutional_affiliations_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "religious_orders", religious_orders_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "institutions", institutions_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "languages", languages_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "locations", locations_path, class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
    <main class="container" style="margin-left: 330px">
      <%= yield %>

      <script type="text/javascript">
        <% if notice.present? %>
          window.SnackBar({message: "<%= notice %>"})
        <% end %>
        <% if alert.present? %>
          window.SnackBar({message: "<%= alert %>", status: 'error'})
        <% end %>
        $(".js-snackbar:has(> .js-snackbar--danger)").addClass('danger');
      </script>
    </main>

  </body>
</html>
