<div id="<%= dom_id booklist_section %>">
  <p>
    <strong>Booklist:</strong>
    <%= booklist_section.booklist_id %>
  </p>

  <p>
    <strong>Sequence no:</strong>
    <%= booklist_section.sequence_no %>
  </p>

  <p>
    <strong>Heading orig:</strong>
    <%= booklist_section.heading_orig %>
  </p>

  <p>
    <strong>Heading orig transliteration:</strong>
    <%= booklist_section.heading_orig_transliteration %>
  </p>

  <p>
    <strong>Heading translation:</strong>
    <%= booklist_section.heading_translation %>
  </p>

  <p>
    <strong>Relevant text orig:</strong>
    <%= booklist_section.relevant_text_orig %>
  </p>

  <p>
    <strong>Relevant text orig transliteration:</strong>
    <%= booklist_section.relevant_text_orig_transliteration %>
  </p>

  <p>
    <strong>Relevant text translation:</strong>
    <%= booklist_section.relevant_text_translation %>
  </p>

</div>
