<%= form_with(model: booklist_section, class: 'autosave') do |form| %>
<div class="row">
	<div class="form-group col-12 mb-2">
		<%= form.label :heading_orig, "Booklist section", style: "display: block" %>
		<%= form.text_field :heading_orig, class: "form-control" %>
	</div>
	<div class="form-group col-12 mb-2" v-show="language_id != english_id">
		<%= form.label :heading_orig_transliteration, "Booklist section transliteration", style: "display: block" %>
		<%= form.text_field :heading_orig_transliteration, class: "form-control" %>
	</div>
	<div class="form-group col-12 mb-2" v-show="language_id != english_id">
		<%= form.label :heading_translation, "Booklist section translation", style: "display: block" %>
		<%= form.text_field :heading_translation, class: "form-control" %>
	</div>
	<div class="form-group col-12 mb-2">
		<%= form.label :relevant_text_orig, "Relevant text", style: "display: block" %>
		<%= form.text_area :relevant_text_orig, class: "form-control" %>
	</div>
	<div class="form-group col-12 mb-2" v-show="language_id != english_id">
		<%= form.label :relevant_text_orig_transliteration, "Relevant text transliteration", style: "display: block" %>
		<%= form.text_area :relevant_text_orig_transliteration, class: "form-control" %>
	</div>
	<div class="form-group col-12 mb-2" v-show="language_id != english_id">
		<%= form.label :relevant_text_translation, "Relevant text translation", style: "display: block" %>
		<%= form.text_area :relevant_text_translation, class: "form-control" %>
	</div>
</div>


<div class="row my-3">
	<div class="col text-start">
		<label style="line-height: 35px;">Apocrypha mentioned</label>	
	</div>
	<div class="col text-end">
		<%= link_to "Add apocryphon mentioned", '#', class: "btn btn-action", data: { 'bs-toggle': "modal",  'bs-target': "#apocrypha-mentioned-modal-"+booklist_section.id.to_s } %>
	</div>
	
	<% if booklist_section.booklist_references.where(record_type: 'Apocryphon').any? %>
	<div class="col-12 my-3">
		<ul class="list-group">
			<% booklist_section.booklist_references.where(record_type: 'Apocryphon').all.each do |br| %>
				<li class="list-group-item">
					<%= br.record.display_name %> 
					<span class="float-end">
						<button type="button" class="btn btn-sm btn-outline-action" onclick="deleteBooklistReference(<%= br.id %>)"><i class="far fa-trash-alt"></i></button>
					</span>
				</li>
			<% end %>
		</ul>
	</div>
	<% else %>
		<div class="col-12 my-3">
			<%= form.text_field :none, value: "No apocryphon added yet" ,class: "form-control", disabled: true %>
		</div>
	<% end %>
</div>

<div class="row my-3">
	<div class="form-group col-12 mb-2">
		<%= form.label :manuscript_id, "Manuscript described in booklist extant as", style: "display: block" %>
		<select class="form-control" id="booklist_section_<%= booklist_section.id %>_manuscript_id" multiple placeholder="Select manuscript" name="booklist_section[manuscript_id]">
		</select>
	</div>
	<div class="form-group col-12 mb-2">
		<%= form.label :notes, style: "display: block" %>
		<%= form.text_area :notes, class: "form-control" %>
	</div>
	<div class="form-group col-10 mb-2">
			<%= form.label :modern_source_id, "Bibliographic reference", style: "display: block" %>
			<div class="d-flex">
				<%= form.collection_select :modern_source_id, ModernSource.all, :id, :display_name, {selected: booklist_section.modern_source_id, include_blank: true}, {class: "form-control", multiple: false, placeholder: "Select bibliographic item", id: "booklist_section_#{booklist_section.id.to_s}_modern_source_id"} %>
				<button type="button" onclick="$('#new-bibliography-<%= booklist_section.id %>').click();" class="btn btn-outline-action ms-4">New</button>
			</div>
		</div>
		<div class="form-group col-2 mb-2">
		<%= form.label :page_ref, style: "display: block" %>
		<%= form.text_field :page_ref, class: "form-control" %>
	</div>

</div>
<% end %>
<%= button_to 'New', create_from_booklist_modern_sources_path, class: "d-none", id: "new-bibliography-#{booklist_section.id.to_s}", params: { modern_source: { publication_title_orig: "" }, from: request.path, booklist_section_id: booklist_section.id } %>

<%= render 'booklist_sections/modals/apocrypha_mentioned', booklist_section: booklist_section %>
